<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>ceres-binding</symbolicName>
    <version>0.9</version>
    <name>Ceres Binding</name>

    <description>
        The Ceres Binding API is used to bind GUI widgets to value models.
        Value models can be any kind of data source.
    </description>

    <changelog>
        <![CDATA[
        Changes in 0.7<br>
        [CERES-23] Default value for primitive types is not set<br>
        <br>Changes in 0.6.1<br>
        [CERES-19] JRadioButtons inside a ButtonGroup don't update their ValueContainer.<br>
        Use customized DOM conversion.<br>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <categories>Binding,UI</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>com.bc.ceres.binding.swing.ValueEditor</serviceProvider>
    </extension>
</module>