<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-binding</symbolicName>
    <version>1.0.1</version>
    <name>Ceres Binding</name>

    <description>
        The Ceres Binding API is used to bind GUI widgets to value models.
        Value models can be any kind of data source.
    </description>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2011 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <categories>Binding</categories>
</module>