<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-feature-extraction</symbolicName>
    <version>6.0-SNAPSHOT</version>
    <name>NEST Feature ExtractionTools</name>

    <description>Feature Extraction Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
	<dependency>
      <module>nest-reader-dem</module>
    </dependency>
    <dependency>
        <module>nest-io</module>
    </dependency>
	
    <categories>Processor</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>FeatureExtraction</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Feature Extraction</text>
            <parent>classification</parent>
        </action>

        <action>
            <id>Masks</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Masks</text>
            <parent>classification</parent>
            <placeBefore>FeatureExtraction</placeBefore>
        </action>

        <!--action>
	        <id>UrbanAreaDetection</id>
	        <helpId>UrbanAreaDetection</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>FeatureExtraction</parent>
	        <text>Urban Area Detection</text>
            <shortDescr>Urban Area Detection</shortDescr>
	        <operatorName>Urban-Area-Detection</operatorName>
	        <dialogTitle>Urban Area Detection</dialogTitle>
            <targetProductNameSuffix>_urb</targetProductNameSuffix>
        </action-->

        <action>
	        <id>ForestAreaDetection</id>
	        <helpId>ForestAreaDetection</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>FeatureExtraction</parent>
	        <text>Forest Area Detection</text>
            <shortDescr>Forest Area Detection</shortDescr>
	        <operatorName>Forest-Area-Detection</operatorName>
	        <dialogTitle>Forest Area Detection</dialogTitle>
            <targetProductNameSuffix>_forest</targetProductNameSuffix>
        </action>

        <action>
            <id>FloodDetection</id>
            <helpId>FloodDetection</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>FeatureExtraction</parent>
            <text>Flood Detection</text>
            <shortDescr>Flood Detection</shortDescr>
            <operatorName>Flood-Detection</operatorName>
            <dialogTitle>Flood Detection</dialogTitle>
            <targetProductNameSuffix>_flood</targetProductNameSuffix>
        </action>

        <action>
            <id>UrbanAreaDetection</id>
            <helpId>UrbanAreaDetection</helpId>
            <class>org.esa.nest.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>FeatureExtraction</parent>
            <text>Urban Area Detection</text>
            <shortDescr>Urban Area Detection</shortDescr>
            <dialogTitle>Urban Area Detection</dialogTitle>
            <graphFile>FeatureExtractors\UrbanDetectionGraph.xml</graphFile>
            <targetProductNameSuffix>_urb</targetProductNameSuffix>
        </action>

        <action>
            <id>TerrainMaskGeneration</id>
            <helpId>TerrainMaskGeneration</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Masks</parent>
            <text>Create Terrain Mask</text>
            <shortDescr>Terrain Mask Generation</shortDescr>
            <operatorName>Terrain-Mask</operatorName>
            <dialogTitle>Terrain Mask Generation</dialogTitle>
            <targetProductNameSuffix>_terr_msk</targetProductNameSuffix>
        </action>

        <action>
            <id>GLCMOp</id>
            <helpId>GLCMOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>FeatureExtraction</parent>
            <text>GLCM</text>
            <shortDescr>Extract Texture Features</shortDescr>
            <operatorName>GLCM</operatorName>
            <dialogTitle>GLCM</dialogTitle>
            <targetProductNameSuffix>_glcm</targetProductNameSuffix>
        </action>

    </extension>

</module>