<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-processing</symbolicName>
    <version>4.11</version>
    <name>BEAM Processing Library</name>

    <description>A basic library used by all processors.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <changelog>
        <![CDATA[
        <p>Changes in 4.11<br>
        Deprecated API.<br/>
        <p>Changes in 4.10<br>
        [BEAM-1342] Processing fails if PixelGeoCoding has no validMask<br/>
        <p>Changes in 4.7<br>
        [BEAM-1006] MER_FSG pixel geocoding not used<br/>
        <p>Changes in 4.2<br>
        [BEAM-356] Processors do not check, if output product already exists<br>
        [BEAM-712] Processors produce visat.exe zombies<br>
        <p>Changes in 4.1<br>
        [BEAM-616] Remove package org.esa.beam.framework.dataproc.<br>
        ]]>
    </changelog>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
    </dependency>

    <categories>System,Library</categories>

</module>