<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>ceres-core</symbolicName>
    <version>0.6-SNAPSHOT</version>
    <name>Ceres Runtime Library</name>
    <activator>com.bc.ceres.core.runtime.internal.RuntimeActivator</activator>

    <changelog>
        <![CDATA[
        <p><b>From 0.5 to 0.6</b></p>
        <ul>
           <li>[CERES-001]: TODO: Normalisation of manifest text</li>
           <li>[CERES-006]: TODO: Configure excluded/included modules</li>
           <li>[CERES-007]: TODO: Use Version class in Module interface</li>
           <li>[CERES-008]: Speed up module repository scanning</li>
           <li>[CERES-009]: Replace simple extension points by META-INF/services</li>
           <li>[CERES-011]: Support standard Java SPI mechanism</li>
           <li>[CERES-012]: Cyclic dependency detection needs simplification</li>
           <li>[CERES-013]: Optional dependencies not handled</li>
        </ul>]]>
    </changelog>

    <description>
        The Ceres Runtime provides a platform for applications based on
        updatable, versioned modules.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://www.brockmann-consult.de/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <categories>System,Library</categories>

    <!--
       todo - describe
    -->
    <extensionPoint id="applications"/>

    <!--
       todo - describe
    -->
    <extensionPoint id="serviceProviders"/>

</module>