<html>
<body>
Size of $sourceProduct.name: $sourceProduct.sceneRasterWidth x $sourceProduct.sceneRasterHeight pixels<br/>
Size of $targetProduct.name: $targetProduct.sceneRasterWidth x $targetProduct.sceneRasterHeight pixels<br/>
Extra data:<br/>
#foreach ($key in $metadata.map.keySet())
$key = $metadata.map.get($key)<br/>
#end
</body>
</html>