<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-core</symbolicName>
    <version>6.0-SNAPSHOT</version>
    <name>NEST Core</name>

    <description>
        NEST Core
    </description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    
    <categories>System</categories>


</module>