<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>snap-glayer</symbolicName>
    <version>2.0.0</version>
    <name>Ceres GLayer Library</name>

    <categories>System,Library</categories>

    <description>
        The Ceres GLayer Library provides a framework for rendering of
        multiple graphical layers to some graphics context.
    </description>

    <dependency>
        <module>snap-binding</module>
    </dependency>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://www.brockmann-consult.de/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <extension point="snap-ceres-core:serviceProviders">
        <serviceProvider>com.bc.ceres.glayer.LayerType</serviceProvider>
    </extension>

</module>