<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-envi-reader</symbolicName>
    <version>5.0</version>
    <name>ENVI Product Reader</name>
    <funding>ESA</funding>

    <description>
        Enables BEAM to read data products in ESRI-ENVI format including products of HICO.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://www.brockmann-consult.de/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
          <b>Changes in 5.0</b><br/>
          [BEAM-1626] ENVI reader shall consider classification attributs in HDR files <br/>
          [BEAM-1623] ENVI reader shall read data in BIP format<br/>
          [BEAM-1614] ENVI Reader shall consider 'Full width at half maximum'<br/>
          [BEAM-1621] ENVI reader shall consider "data ignore value"<br/>
          [BEAM-1622] ENVI reader shall have metadata<br/>
          [GBOX-030] Support offset and gain in ENVI header files<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importEnviProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVI</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import an ENVI data product.</shortDescr>
        </action>
        <action>
            <id>importHicoProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>HICO</formatName>
            <text>HICO (ENVI format)</text>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import a HICO data product.</shortDescr>
        </action>
    </extension>

</module>
