<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-envi-reader</symbolicName>
    <version>0.5</version>
    <name>ENVI Product Reader</name>
    <funding>ESA</funding>

    <description>
        Enables SNAP to read data products in ESRI-ENVI format including products of HICO.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://www.brockmann-consult.de/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="snap-ui:actions">
        <action>
            <id>importEnviProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVI</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import an ENVI data product.</shortDescr>
            <parent>importFileFormats</parent>
        </action>
        <action>
            <id>importHicoProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>HICO</formatName>
            <text>HICO (ENVI format)</text>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import a HICO data product.</shortDescr>
            <parent>importMultispectral</parent>
        </action>

		 <action>
            <id>exportENVI</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>ENVI</formatName>
            <text>ENVI</text>
            <shortDescr>Export ENVI product</shortDescr>
            <helpId>exportENVI</helpId>
        </action>
    </extension>

</module>
