<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-alos-reader</symbolicName>
    <version>5.0</version>
    <name>AVNIR-2/PRISM Product Reader</name>

    <description>
        Enables BEAM to read ALOS data products of type AVNIR-2 and PRISM.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        <b>Changes in 5.0</b><br/>
        [BEAM-1578] - Sensing start and stop time can be wrong<br>
        ]]>
    </changelog>
    <categories>Reader,ALOS,AVNIR,PRISM</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importAvnir2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>AVNIR-2</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>I</mnemonic>
            <shortDescr>Import an ALOS/AVNIR-2 data product or product subset.</shortDescr>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importAvnir2Product</helpId>
            <!--<placeAfter>importNetcdfProduct</placeAfter>-->
        </action>
        <action>
            <id>importPrismProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>PRISM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <largeIcon>icons/Import24.gif</largeIcon>
            <mnemonic>L</mnemonic>
            <shortDescr>Import an ALOS/PRISM data product or product subset.</shortDescr>
            <helpId>importPrismProduct</helpId>
            <!--<placeAfter>importAvnir2Product</placeAfter>-->
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>AVNIR-2 - 3,2,1</name>
            <red>radiance_3</red>
            <green>radiance_2</green>
            <blue>radiance_1</blue>
        </rgbProfile>
    </extension>

</module>