<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-io</symbolicName>
    <version>2.0.0</version>
    <name>S1TBX Readers and Writers</name>

    <description>
        Enables reading of SAR products.
    </description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>snap-geotiff</module>
    </dependency>
    <dependency>
        <module>snap-envi-reader</module>
    </dependency>
    <dependency>
        <module>snap-envisat-reader</module>
    </dependency>
    <dependency>
        <module>snap-netcdf</module>
    </dependency>

    <categories>Reader,Writer,ERS</categories>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>Pauli</name>
            <red>((i_HH-i_VV)*(i_HH-i_VV)+(q_HH-q_VV)*(q_HH-q_VV))/2</red>
            <green>((i_HV+i_VH)*(i_HV+i_VH)+(q_HV+q_VH)*(q_HV+q_VH))/2</green>
            <blue>((i_HH+i_VV)*(i_HH+i_VV)+(q_HH+q_VV)*(q_HH+q_VV))/2</blue>
        </rgbProfile>
        <rgbProfile>
            <name>Sinclair</name>
            <red>i_VV*i_VV+q_VV*q_VV</red>
            <green>((i_HV+i_VH)*(i_HV+i_VH)+(q_HV+q_VH)*(q_HV+q_VH))/4</green>
            <blue>i_HH*i_HH+q_HH*q_HH</blue>
        </rgbProfile>
        <rgbProfile>
            <name>Dual Pol HH+HV</name>
            <red>Intensity_HH</red>
            <green>Intensity_HV</green>
            <blue>Intensity_HH/Intensity_HV</blue>
        </rgbProfile>
        <rgbProfile>
            <name>Dual Pol VV+VH</name>
            <red>Intensity_VV</red>
            <green>Intensity_VH</green>
            <blue>Intensity_VV/Intensity_VH</blue>
        </rgbProfile>
        <rgbProfile>
            <name>Dual Pol HH+VV</name>
            <red>Intensity_HH</red>
            <green>Intensity_VV</green>
            <blue>Intensity_HH/Intensity_VV</blue>
        </rgbProfile>
    </extension>
</module>