#############################################################################
# Configuration for the Soil Moisture Dielectric Models.
# All properties described here can also be passed to the VM as system
# properties using the standard Java
#   -D<property>=<value>
# syntax. In addition, it is possible to use macros of the form
#   ${<property>}
# within a value. Macros will expand to the value of the referred (system)
# property.
#############################################################################

Hallikainen.a0 = 1.993
Hallikainen.a1 = 0.002
Hallikainen.a2 = 0.015
Hallikainen.b0 = 38.086
Hallikainen.b1 = -0.176
Hallikainen.b2 = -0.633
Hallikainen.c0 = 10.720
Hallikainen.c1 = 1.256
Hallikainen.c2 = 1.522


Mironov.Use_Symmetrized_Model = true
Mironov.SM1_Thld = 0.02

Mironov.PERMIT0 = 8.854e-12
Mironov.EPWI0 = 4.9
Mironov.ND0 = 1.62847
Mironov.ND1 = -0.70803
Mironov.ND2 = 0.4659
Mironov.KD0 = 0.03945
Mironov.KD1 = -0.03721
Mironov.XMVT0 = 0.00625
Mironov.XMVT1 = 0.33918
Mironov.TF0 = 20
Mironov.E0PB0 = 79.82918
Mironov.E0PB1 = -85.36581
Mironov.E0PB2 = 32.70444
Mironov.BVB0 = -5.96311e-19
Mironov.BVB1 = -1.25999e-3
Mironov.BVB2 = 1.83991e-3
Mironov.BVB3 = -9.77347e-4
Mironov.BVB4 = -1.39013e-7
Mironov.BSGB0 = 0.0028
Mironov.BSGB1 = 2.37388e-2
Mironov.BSGB2 = -2.93876e-2
Mironov.BSGB3 = 3.28954e-2
Mironov.BSGB4 = -2.00582e-2
Mironov.DHBR0 = 1466.80741
Mironov.DHBR1 = 26.97032e2
Mironov.DHBR2 = -0.09803e4
Mironov.DSRB0 = 0.88775
Mironov.DSRB1 = 0.09697e2
Mironov.DSRB2 = -4.2622
Mironov.TAUB0 = 48e-12
Mironov.SBT0 = 0.29721
Mironov.SBT1 = 0.49
Mironov.E0PU = 100
Mironov.BVU0 = 1.10511e-4
Mironov.BVU1 = -5.16834e-6
Mironov.BSGU0 = 0.00277
Mironov.BSGU1 = 3.58315e-2
Mironov.DHUR0 = 2230.20237
Mironov.DHUR1 = -0.39234e2
Mironov.DSUR0 = 3.6439
Mironov.DSUR1 = -0.00134e2
Mironov.TAUU0 = 48e-12
Mironov.SUT0 = 0.12799
Mironov.SUT1 = 1.65164

