<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-shapefile-reader</symbolicName>
    <version>2.0</version>
    <name>ESRI Shapefile Reader</name>

    <description>This module loads ESRI shape files.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <categories>Reader</categories>

    <dependency>
        <module>beam-visat</module>
    </dependency>

    <extension point="beam-ui:actions">
        <action>
            <id>importShape</id>
            <class>org.esa.beam.visat.actions.ImportShapeAction</class>
            <parent>import</parent>
            <text>Import Shape...</text>
            <mnemonic>S</mnemonic>
            <shortDescr>Import shape from plain text or ESRI shapefile.</shortDescr>
            <description>Import shape from plain text or ESRI shapefile.</description>
            <helpId>importShape</helpId>
            <separatorBefore>true</separatorBefore>
            <separatorAfter>true</separatorAfter>
            <placeBefore>importGETASSE30Product</placeBefore>
        </action>
    </extension>

</module>