<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s3tbx-landsat-reader</symbolicName>
    <version>0.5</version>
    <name>Landsat Product Reader</name>
    <description>
        A product reader for Landsat files. It supports the instruments MSS of Landsat 1-5, TM of Landsat 4 and 5, ETM+ of Landsat 7
        and OLI and TIRS of Landsat 8 in GeoTIFF format. Landsat TM 5 is additionally supported in FAST format.
    </description>

    <vendor>Brockmann Consult GmbH (with contributions from Christian Berwanger)</vendor>
    <copyright>(C) 2014 by Brockmann Consult</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-geotiff</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader, Landsat</categories>

    <extension point="snap-ui:actions">
        <action>
            <id>importLandsatTMProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Landsat 5 TM (FAST)</text>
            <formatName>FAST L5</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>L</mnemonic>
            <shortDescr>Import a Landsat 5 TM (in Fast format) data product or product subset.</shortDescr>
            <helpId>importLandsatProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importLandsatGeoTIFFProduct</id>
            <helpId>importLandsatProduct</helpId>
            <formatName>LandsatGeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Landsat (GeoTIFF)</text>
            <shortDescr>Import a Landsat (in GeoTIFF format) data product or product subset.</shortDescr>
            <parent>importMultispectral</parent>
        </action>
    </extension>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>LandsatTM 3,2,1</name>
            <red>radiance_3</red>
            <green>radiance_2</green>
            <blue>radiance_1</blue>
        </rgbProfile>
        <rgbProfile>
            <name>LandsatTM 4,3,2</name>
            <red>radiance_4</red>
            <green>radiance_3</green>
            <blue>radiance_2</blue>
        </rgbProfile>
        <rgbProfile>
            <name>Landsat_8 red,green,blue</name>
            <red>red</red>
            <green>green</green>
            <blue>blue</blue>
        </rgbProfile>
    </extension>
</module>