<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-worldwind</symbolicName>
    <version>1.0.3</version>
    <name>S1TBX WorldWind</name>

    <description>NASA's WorldWind</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>
    <dependency>
        <module>snap-ui</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>

    <extension point="snap-ui:toolViews">
        <toolView>
            <id>org.esa.nest.dat.toolviews.nestwwview.NestWWToolView</id>
            <class>org.esa.nest.dat.toolviews.nestwwview.NestWWToolView</class>
            <title>WorldWind 3D View</title>
            <tabTitle>WorldWind 3D View</tabTitle>
            <mnemonic>3</mnemonic>
            <accelerator>ctrl alt 3</accelerator>
            <description>Display product in a 3D view.</description>
            <smallIcon>/org/esa/snap/icons/earth24.png</smallIcon>
            <largeIcon>/org/esa/snap/icons/earth24.png</largeIcon>
            <helpId>show3DMapWnd</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.nest.dat.toolviews.nestwwview.FlatEarthWWToolView</id>
            <class>org.esa.nest.dat.toolviews.nestwwview.FlatEarthWWToolView</class>
            <title>WorldWind Map</title>
            <tabTitle>WorldWind Map</tabTitle>
            <description>Display WorldWind view.</description>
            <smallIcon>/org/esa/snap/icons/WorldMap16.png</smallIcon>
            <largeIcon>/org/esa/snap/icons/WorldMap24.png</largeIcon>
            <helpId>show3DMapWnd</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

    </extension>

</module>