#############################################################################
# Configuration for the Ceres runtime as used by BEAM.
# All properties described here can also be passed to the VM as system
# properties using the standard Java
#   -D<property>=<value>
# syntax. In addition, it is possible to use macros of the form
#   ${<property>}
# within a value. Macros will expand to the value of the referred (system)
# property.
#############################################################################

# The BEAM home directory. Used only if
# (1) this configuration file has been specified by the system property 'beam.config' or
# (2) the system property 'beam.home' has not been specified before.
# With other words, this setting will not overwrite an existing 'beam.home' property.
# Has no default value, must be given as system property if not specified here.
# beam.home = .

# The library path to be searched for common JARs. Can comprise multiple paths.
# Multiple paths must be separated using ';' (Windows) or ':' (Unix)
# Default value is '${beam.home}/lib'.
# beam.libDirs = ${beam.home}/lib

# The directory to be searched for modules.
# Default value is '${beam.home}/modules'.
# beam.modules = ${beam.home}/modules

# The ID of the application to launch.
# Has no default value, must be given as system property if not specified here.
beam.app = VisatMain

# Output log to the console?
# Default is 'false'.
# beam.consoleLog = true

# The log level, must be one of
# OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL.
# Default is 'OFF'.
# beam.logLevel = INFO

# The URL of the remote module repository.
# Has no default value, but value can be adjusted in VISAT's preferences.
beam.repository.url = http://www.brockmann-consult.de/beam/software/repositories/4.7/

# Outputs extra debugging information for Ceres launcher and runtime
# Default value is 'false'.
# beam.debug = true

# The default page to be opened (by VISAT) if no internal information page regarding
# data sources was found. Usually this page resides as a resource in
# /doc/help/general/BeamDataSources.html located in the module [beam-help]
beam.datasources.url = http://www.brockmann-consult.de/beam/doc/help/general/BeamDataSources.html

# The path to the image for the splash screen's.
# If none is given the application will start without displaying
# a splash screen.
beam.splash.image = ${beam.home}/bin/splash.png

# The splash screen's progress bar area given as <x>,<y>,<width>,<height>
# Default value is '0,<splash.height>-9,<splash.width>,5'.
beam.splash.progressBar.area = 104,101,376,5

# The splash screen's progress bar color given as <R>,<G>,<B>[,<A]
# Default value is '0,255,0' (green).
beam.splash.progressBar.color = 255,153,51,150

# Weather or not the splash screen shall show a task label.
# Default value is 'false'.
beam.splash.taskLabel.enabled = true

# The font of the task label of the splash screen.
# Default value is 'Verdana,ITALIC,10'.
#beam.splash.taskLabel.font = Verdana,ITALIC,10

# The colour of the task label of the splash screen given as <R>,<G>,<B>[,<A].
# Default value is '255,255,255' (white).
beam.splash.taskLabel.color = 255,255,255,170

# The position of the task label of the splash screen given as <x>,<y>.
# Default value is '<splash.progressBar.area.x>,<splash.progressBar.area.y>+<splash.progressBar.area.height>+10'.
beam.splash.taskLabel.pos = 122,115

# Controls caching of tiles of intermediate operations from raw raster data
# to the finally displayed RGB image (since BEAM 4.5).
# The default value is 'false', meaning that no intermediate tile caching takes place.
# beam.imageManager.enableIntermediateTileCaching = true

# Controls caching of tiles of graph processing framework (GPF) operators (since BEAM 4.5). 
# The default value is 'false', meaning that GPF operator tiles are always cached.
# beam.gpf.disableOperatorTileCaching = true

# Controls whether a PixelGeoCoding is attached to MERIS FRG/FSG products (created with AMORGOS),
# if an Envisat (N1) data file is opened.
# The default value is 'false', meaning that a Tie-point geo-coding is used instead.
# beam.envisat.amorgos.usePixelGeoCoding = true

# Controls the name of the inital geometry container, which is automatically created if
# the users draws the first geometry in a VISAT session.
# The default value is 'geometry'.
# beam.geometry.initialName = geometry