<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:svg="http://www.w3.org/2000/svg">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>${docTitle}</title>
    <style type="text/css">
        p, td, li {
            font-size: x-small;
            line-height: 140%;
            font-family: Helvetica, Arial, sans-serif;
            letter-spacing: 0.1em;
            word-spacing: 0.3em;
        }
    </style>
</head>

<body>

<h1>${docTitle}</h1>

<!--
<object id="AdobeSVG" classid="clsid:78156a80-c6a1-4bbf-8e6a-3cd390eeb4e2"></object>
<?import namespace="svg" urn="http://www.w3.org/2000/svg" implementation="#AdobeSVG"?>
-->

<table>
    <tr>
        <th>ID</th>
        <th>Dup</th>
        <th>Product</th>
        <th>Operator</th>
        <th>Band</th>
        <th>Image</th>
        <th>TileX</th>
        <th>TileY</th>
        <th>Start(s)</th>
        <th>Duration(s)</th>
        <th>Thread</th>
        <th>Chart (${totalTime} s)</th>
    </tr>
    #foreach( $task in $tasks )
        #set( $textPosX = ${task.barX} + 4 )

        <tr>
            <td>${task.event.id}</td>
            #if( $task.sameTask )
                <td style="background-color:red;">${task.sameTask.event.id}</td>
            #else
                <td>-</td>
            #end
            <td>${task.band.product.name}</td>
            <td>${task.operator.class.simpleName}</td>
            <td>${task.band.name}</td>
            <td>${task.imageId}</td>
            <td>${task.event.tileX}</td>
            <td>${task.event.tileY}</td>
            <td>${task.start}</td>
            <td>${task.duration}</td>
            <td>${task.event.threadName}</td>
            <td>
                <svg:svg version="1.1" baseProfile="full" width="${chartWidth}" height="10">
                    <svg:rect x="${task.barX}" y="0" width="${task.barWidth}" height="10"
                              style="fill:green; stroke:black;"/>
                    <svg:text x="${textPosX}" y="8">${task.duration} s</svg:text>
                </svg:svg>
            </td>
        </tr>
    #end
</table>

</body>

</html>
