<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-netcdf-reader</symbolicName>
    <version>1.1</version>
    <name>NetCDF Product Reader</name>
    <description>
        A product reader for NetCDF files conforming to the
        Climate and Forecast (CF) metadata conventions.
    </description>
    
    <changelog>
        <![CDATA[
        Changes in 1.0.3:<br/>
        [BEAM-999] Rounding errors in map geocoding<br/>
        Changes in 1.0.201:<br/>
        [BEAM-874] Ensure thread safety of product reader<br/>
        [BEAM-851] Missing NetCDF command in import menu<br/>
        <br/>Changes in 1.0.100:<br/>
        [BEAM-821] MERIS L3 MGVI cannot be opened in BEAM<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>lib-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,NetCDF</categories>


    <extension point="beam-ui:actions">
        <action>
            <id>importNetcdfProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import NetCDF File...</text>
            <formatName>NetCDF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>M</mnemonic>
            <shortDescr>Import a NetCDF file or file subset.</shortDescr>
            <description>Import a NetCDF file or file subset.</description>
        </action>
    </extension>

</module>