<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-geotiffr</symbolicName>
    <version>1.0</version>
    <name>GeoTIFF Product Module</name>
    <description>A module for GeoTIFF Data Products</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Writer,GeoTIFF,VISAT</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importGeoTIFFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <text>Import GeoTIFF Product...</text>
            <shortDescr>Import a GeoTIFF data product or subset.</shortDescr>
            <description>Import a GeoTIFF data product or product subset.</description>
            <helpId>importGeoTIFFProduct</helpId>
        </action>
        <action>
            <id>exportGeoTIFFProduct</id>
            <class>org.esa.beam.dataio.geotiff.GeoTiffExportAction</class>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <text>Export GeoTIFF Product...</text>
            <shortDescr>Export a GeoTIFF data product or subset.</shortDescr>
            <description>Export a GeoTIFF data product or product subset.</description>
            <helpId>exportGeoTIFFProduct</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/geotiff.hs</path>
        </helpSet>
    </extension>
</module>