<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-geotiff</symbolicName>
    <version>5.0.1</version>
    <name>GeoTIFF Product Module</name>
    <description>A module for reading and writing GeoTIFF Data Products</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
         <b>Changes in 5.0.1</b><br/>
         [BEAM-1687] GeoTiff scenes have shift of half pixel if PixelIsPoint is set<br/>
         <b>Changes in 5.0</b><br/>
         [BEAM-1525] Incorrect Geo-Coding Read from Geo-Tiff<br/>
         [BEAM-1523] GeoTIFF Product Reader performance poor<br/>
         [BEAM-1510] GeoTiff coordinates are wrongly shifted<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Writer,GeoTIFF,VISAT</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importGeoTIFFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <shortDescr>Import a GeoTIFF data product or product subset.</shortDescr>
            <helpId>importGeoTIFFProduct</helpId>
        </action>
        <action>
            <id>exportGeoTIFFProduct</id>
            <class>org.esa.beam.dataio.geotiff.GeoTiffExportAction</class>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <text>GeoTIFF</text>
            <shortDescr>Export a GeoTIFF data product or product subset.</shortDescr>
            <helpId>exportGeoTIFFProduct</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/geotiff.hs</path>
        </helpSet>
    </extension>
</module>