<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-chris-reader</symbolicName>
    <version>1.7.2</version>
    <name>CHRIS/Proba Product Reader</name>

    <description>Enables BEAM to read CHRIS/Proba HDF4 data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in Version 1.7.2
        <ul>
        <li>[BEAM-1504] - Update NetCDF library to version 4.3.16
        </ul>
        <p>Changes in Version 1.7.1
        <ul>
        <li>Adapted to new Maven-architecture
        </ul>
        <p>Changes in Version 1.7
        <ul>
        <li>Remove usage of deprecated methods/classes</li>
        </ul>
        <p>Changes in Version 1.6.101
        <ul>
        <li>[CBOX-76] CHRIS reader shall provide pointing factory for geo-corrected products</li>
        </ul>
        <p>Changes in Version 1.6
        <ul>
        <li>[CBOX-75] CHRIS/Proba product reader should use the pure Java netcdf library</li>
        </ul>
        <p>Changes in Version 1.5
        <ul>
        <li>[CBOX-59] Write 'Proba' instead of 'PROBA'</li>
        </ul>
        <p>Changes in Version 1.4.101
        <ul>
        <li>[BEAM-874] Ensure thread safety of product reader</li>
        <li>[CBOX-57] Incorrect RGB profiles</li>
        </ul>
        <p>Changes in Version 1.4
        <ul>
        <li>[CBOX-44] RGB profile for Mode 0</li>
        <li>[CBOX-43] Support of Modes 20 and 30</li>
        <li>[CBOX-42] New mask values should leave large gap</li>
        <li>[CBOX-41] IOException thrown for PR format</li>
        <li>[CBOX-40] Wrong import of cut-off wavelength</li>
        </ul>
        <p>Changes in Version 1.3
        <ul>
        <li>[CBOX-32] Dropout correction should be cosmetic only</li>
        <li>[CBOX-31] Optimize raster data input in order to require less memory</li>
        <li>[CBOX-30] Make pins available for CHRIS data products</li>
        <li>[CBOX-29] Predefined bit mask for indicating spectrum quality</li>
        <li>[CBOX-28] Predefined RGB profiles for all CHRIS modes</li>
        <li>[CBOX-27] Computation of solar azimuth angle</li>
        <li>[CBOX-26] Gains and coefficients are not included in metadata</li>
        </ul>
        </p>
        <p>Changes in Version 1.2
        <ul>
        <li>[CBOX-25] Dropout and saturated flags are reversed</li>
        <li>[CBOX-24] Calibration coefficients are applied twice</li>
        <li>[CBOX-23] Imported subsets are scrambled</li>
        <li>[CBOX-22] No thumbnail image in subset dialog</li>
        </ul>
        </p>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>


    <categories>Reader,CHRIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importChrisProduct</id>
            <helpId>importChrisProduct</helpId>
            <formatName>CHRIS/Proba</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>M</mnemonic>
            <shortDescr>Import a CHRIS/Proba data product or product subset.</shortDescr>
            <description>Import a CHRIS/Proba data product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>CHRIS/Proba - Mode 0</name>
            <red>radiance_3</red>
            <green>radiance_2</green>
            <blue>radiance_1</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 1</name>
            <red>radiance_23</red>
            <green>radiance_13</green>
            <blue>radiance_3</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 2</name>
            <red>radiance_10</red>
            <green>radiance_6</green>
            <blue>radiance_2</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 3</name>
            <red>radiance_7</red>
            <green>radiance_4</green>
            <blue>radiance_1</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 3A</name>
            <red>radiance_8</red>
            <green>radiance_5</green>
            <blue>radiance_2</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 4</name>
            <red>radiance_4</red>
            <green>radiance_2</green>
            <blue>radiance_1</blue>
        </rgbProfile>
        <rgbProfile>
            <name>CHRIS/Proba - Mode 5</name>
            <red>radiance_7</red>
            <green>radiance_4</green>
            <blue>radiance_1</blue>
        </rgbProfile>
    </extension>

</module>
