<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-smos-reader</symbolicName>
    <version>1.0</version>
    <name>BEAM SMOS reader</name>
    <description>BEAM reader for SMOS data products</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://foo/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

   <dependency>
        <module>ceres-binio</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,SMOS</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.beam.dataio.smos.SmosProductReaderPlugIn</readerPlugin>
            <id>importSmosProduct</id>
            <helpId/>
            <formatName>SMOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Import SMOS Product...</text>
            <mnemonic/>
            <shortDescr>Import a SMOS data product or product subset.</shortDescr>
            <description>Import a SMOS data product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-ui:toolViews">


        <toolView>
            <id>org.esa.beam.smos.visat.SnapshotInfoToolView</id>
            <class>org.esa.beam.smos.visat.SnapshotInfoToolView</class>
            <title>SMOS L1C Snapshot</title>
            <tabTitle>SMOS L1C Snapshot</tabTitle>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataTableToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataTableToolView</class>
            <title>SMOS L1C Table</title>
            <tabTitle>SMOS L1C Table</tabTitle>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataChartToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataChartToolView</class>
            <title>SMOS L1C Chart</title>
            <tabTitle>SMOS L1C Chart</tabTitle>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataFlagmatrixToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataFlagmatrixToolView</class>
            <title>SMOS L1C Flag-Matrix</title>
            <tabTitle>SMOS L1C Flags</tabTitle>
        </toolView>


    </extension>

</module>
