<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-smos-reader</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>BEAM SMOS reader</name>
    <description>BEAM reader for SMOS data products</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://foo/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

   <dependency>
        <module>ceres-binio</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,VISAT</categories>
</module>
