
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>pfa-core</symbolicName>
    <version>0.1-SNAPSHOT</version>
    <name>pfa-core</name>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.pfa.fe.PFAApplicationDescriptor</serviceProvider>
    </extension>

</module>
