<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-ndvi</symbolicName>
    <version>5.0</version>
    <name>NDVI Processor</name>

    <description>
        The BEAM NDVI Processor calculates the Normalized Difference Vegetation Index.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>


    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicLand</parent>
            <id>ndviOp</id>
            <text>NDVI Processor...</text>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>NdviOp</operatorName>
            <dialogTitle>NDVI Processor</dialogTitle>
            <shortDescr>Generates NDVI from a source product with at least two spectral bands.</shortDescr>
            <targetProductNameSuffix>_ndvi</targetProductNameSuffix>
            <helpId>NDVIOperator</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/NdviOp.hs</path>
        </helpSet>
    </extension>
</module>
