<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beampy-operator-example</symbolicName>
    <version>5.0</version>
    <name>BEAM GPF Operator for Python Example</name>
    <packaging>dir</packaging>

    <description>Example of how to implement a BEAM GPF operator in Python</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-python</module>
    </dependency>


    <categories>Processor,System</categories>


    <extension point="beam-ui:actions">
        <action>
            <id>ExampleNDVIPythonOperator</id>
            <helpId>beamOverview</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <parent>processing</parent>
            <text>Python NDVI Operator...</text>
            <operatorName>py_ndvi_op</operatorName>
            <dialogTitle>Python NDVI Operator</dialogTitle>
            <targetProductNameSuffix>_pyNDVI</targetProductNameSuffix>
        </action>
    </extension>

</module>