<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>geoint-sar</symbolicName>
    <version>3.0</version>
    <name>GEOINT SAR Tools</name>

    <description>GEOINT SAR Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2012 by Array Systems Computing Inc</copyright>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>Department of National Defence Canadian Forces</funding>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
	
    <categories>Application,DAT</categories>

    <extension point="beam-ui:actions">

        <action>
	        <id>RGBMosaicOp</id>
	        <helpId>MosaicOp</helpId>
	        <class>org.esa.nest.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>geometry</parent>
	        <text>RGB Mosaic</text>
            <shortDescr>Mosaic various images together for all bands</shortDescr>
	        <dialogTitle>RGB Mosaic</dialogTitle>
            <graphFile>MosaicRGBGraph.xml</graphFile>
        </action>

    </extension>


</module>
