<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-pconvert</symbolicName>
    <version>5.0</version>
    <name>Product Conversion Tool</name>


    <description>A tool for converting data products from one to an other format.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[

         ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>

    <categories>Application</categories>

</module>