body {
    font-family: "Calibri", sans-serif;
    font-size: 13px;
}

select {
    height: 180px;
}

table, tr, th {
    border: 1px solid green;
}

th {
    background-color: green;
    color: white;
}

.title {
    font-size: 18px;
    font-style: italic;
}

.ftHead {
}

.fLabel {
}

.fTable {
    border: 0.5px solid grey;
}

.fRow {
    border: 0.5px solid grey;
}

.fName {
    font-family: "Courier New", monospace;
    color: darkblue;
}

.ftName {
    color: darkblue;
}

.fAttrName {
    color: darkblue;
}

.fImage {
    background-color: DarkSlateGray;
}

.fProduct {
}

.fValue {
    font-family: "Courier New", monospace;
}

.fAttrName {
    font-family: "Calibri", sans-serif;
}

.fAttrValue {
    font-family: "Courier New", monospace;
}

