<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-netcdf</symbolicName>
    <version>1.1.2</version>
    <name>NetCDF Product Reader and Writer</name>
    <description>
        A product reader and writer for NetCDF files. It supports metadata profiles for CF, BEAM, HDF-EOS, ODESA.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        Changes in 1.1.2:<br/>
        [BEAM-1421] - A file in NetCDF-BEAM format, which was created using the BandMaths gpf operator, can not be opened in VISAT<br/>
        Changes in 1.1.1:<br/>
        Adapted to new Maven-architecture<br/>
        Changes in 1.1:<br/>
        [BEAM-1381] - Statistics written to NetCDF files shall be in geo-physical units<br/>
        [BEAM-1363] - Write NetCDf 4 files using compression<br/>
        [BEAM-1351] - Metadata is duplicated if NetCDF-BEAM file is saved again<br/>
        [BEAM-1347] - Wrong Histogram in exported NetCDF-BEAM product<br/>
        [BEAM-1333] - NetCDF files are not CF compliant<br/>
        [BEAM-1332] - NetCDF/CF writer does not write coordinates<br/>
        [BEAM-1320] - BEAM-NetCDF reader/writer does not preserve solar flux information<br/>
        [BEAM-1315] - NetCDF-BEAM does not consider log-scaled attribute<br/>
        Changes in 1.0.101:<br/>
        [BEAM-1302] - Products read from NetCDF files should have a 'Global_Attributes' element in metadata<br/>
        [BEAM-1233] - NetCDF-CF does not consider log-scaled attribute<br/>
        [BEAM-1215] - NetCDF product appears inverted<br/>
        [BEAM-1206] - CF Profile does not write latitude longitude data when writing pixel geo-coding<br/>
        [BEAM-1171] - NetCDF file not readable if variable name contains '.' or '/'<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,NetCDF,HDF,CF,EOS</categories>


    <extension point="beam-ui:actions">
        <action>
            <id>importNetCdfGenericProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>NetCDF (Generic)</text>
            <formatName>NetCDF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>N</mnemonic>
            <shortDescr>Import a NetCDF data product or product subset.</shortDescr>
            <description>Import a NetCDF data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importNetCdfCFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>NetCDF-CF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a NetCDF/CF data product or product subset.</shortDescr>
            <description>Import a NetCDF/CF data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importNetCdfBEAMProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>NetCDF-BEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a NetCDF/BEAM data product or product subset.</shortDescr>
            <description>Import a NetCDF/BEAM data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importHdfEosProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>HDF-EOS Gridded</text>
            <formatName>HDF-EOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a gridded HDF-EOS data product or product subset.</shortDescr>
            <description>Import a gridded HDF-EOS data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>exportNetCdfCFProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>NetCDF-CF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF/CF format</shortDescr>
            <description>Writes a product in NetCDF/CF format</description>
            <helpId>exportNetCdfProduct</helpId>
        </action>
        <action>
            <id>exportNetCdfBEAMProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>NetCDF-BEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF/BEAM format</shortDescr>
            <description>Writes a product in NetCDF/BEAM format</description>
            <helpId>exportNetCdfProduct</helpId>
        </action>
        <action>
            <id>exportNetCdf4BEAMProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>NetCDF4-BEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF-4/BEAM format</shortDescr>
            <description>Writes a product in NetCDF-4/BEAM format</description>
            <helpId>exportNetCdf4Product</helpId>
        </action>
        <action>
            <id>exportNetCdf4CFProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>NetCDF4-CF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF-4/CF format</shortDescr>
            <description>Writes a product in NetCDF-4/CF format</description>
            <helpId>exportNetCdf4Product</helpId>
        </action>
    </extension>

</module>
