<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-netcdf</symbolicName>
    <version>1.0.101</version>
    <name>NetCDF Product Reader and Writer</name>
    <description>
        A product reader and writer for NetCDF files. It supports metadata profiles for CF, BEAM, HDF-EOS, ODESA.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        Changes in 1.101:<br/>
        [BEAM-1215] - NetCDF product appears inverted<br/>
        [BEAM-1206] - CF Profile does not write latitude longitude data when writing pixel geo-coding<br/>
        [BEAM-1171] - NetCDF file not readable if variable name contains '.' or '/'<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,NetCDF,HDF,CF,EOS</categories>


    <extension point="beam-ui:actions">
        <action>
            <id>importNetCdfGenericProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import Generic NetCDF Product...</text>
            <formatName>NetCDF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>N</mnemonic>
            <shortDescr>Import a NetCDF data product or product subset.</shortDescr>
            <description>Import a NetCDF data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importNetCdfCFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import NetCDF/CF Product...</text>
            <formatName>NetCDF-CF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a NetCDF/CF data product or product subset.</shortDescr>
            <description>Import a NetCDF/CF data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importNetCdfBEAMProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import NetCDF/BEAM Product...</text>
            <formatName>NetCDF-BEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a NetCDF/BEAM data product or product subset.</shortDescr>
            <description>Import a NetCDF/BEAM data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>importHdfEosProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import HDF-EOS Gridded Product...</text>
            <formatName>HDF-EOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a gridded HDF-EOS data product or product subset.</shortDescr>
            <description>Import a gridded HDF-EOS data product or product subset.</description>
            <helpId>importNetCdfProduct</helpId>
        </action>
        <action>
            <id>exportNetCdfCFProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <text>Export NetCDF/CF Product...</text>
            <formatName>NetCDF-CF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF/CF format</shortDescr>
            <description>Writes a product in NetCDF/CF format</description>
            <helpId>exportNetCdfProduct</helpId>
        </action>
        <action>
            <id>exportNetCdfBEAMProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <text>Export NetCDF/BEAM Product...</text>
            <formatName>NetCDF-BEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF/BEAM format</shortDescr>
            <description>Writes a product in NetCDF/BEAM format</description>
            <helpId>exportNetCdfProduct</helpId>
        </action>
    </extension>

</module>
