body { background-color: white; margin-top:10px; }

a:link 	  {color:A72525; text-decoration:none;}
a:active  {color:630C3F; text-decoration:none;}
a:visited {color:740C50; text-decoration:none;}
a:hover   {color:02773F; text-decoration:underline;}

.module .head  { display: none; }
/* .head * { display:none; } */

.module { background-color: #ffffff; 
	  border: 1px solid; 
	  border-color:#ffbbbb; 
	  margin-bottom:10px; 
	  width:90%;  
	  font-family:Verdana, Arial, Helvetica, sans-serif;
	  font-size:12;}
.module .name { background-color:#ffeeee;
		padding-top:2px;
		padding-bottom:3px;}
.module .symbolicName { display: none;}
.module .activatorClassName { display: none;}
.module .manifestVersion { display:none; }
.module .packaging { display:none; }
.module * { display: block; empty-cells: show; 
	    padding: 2px; 
	    padding-top:1px;
	    padding-bottom:1px;}

.module .key   { display: inline; float: left;width: 170px; font-weight: bold; }
.module .value { display: inline; float: right; margin-left: 180px; color: black; font-weight: none; clear:right;}

.modules 
{   empty-cells:show;
}

.modules .head 
{   background-color:#ffeeee;
    padding-top:2px;
    padding-bottom:3px;
    vertical-align:top; 
    font-weight:bold;
}
.modules .name               td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .description        td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .aboutUrl           td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .vendor             td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .activatorClassName { display:none; }
.modules .symbolicName       { display:none; }
.modules .contactAddress     td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .url                td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .copyright          td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .licenseUrl         td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .manifestVersion    { display:none; }
.modules .packaging          { display:none; }
.modules .version            td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .contentLength      td { vertical-align:top; border: solid 1px #ffeeee; }
.modules .lastModified       td { vertical-align:top; border: solid 1px #ffeeee; }


.modules * .key
{   font-weight:bold;
    width:150px;
}
.modules .totop
{   border:none;
    background-color:white;
    text-align:right;
}

.toc_modules                           { display: visible; empty-cells: show; } /* padding: 2px; margin: 2px; }*/
.toc_modules .head                     { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .name               { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .description        { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;min-width:400px;}
.toc_modules .head .aboutUrl           { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .vendor             { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .activatorClassName { display: none; }
.toc_modules .head .symbolicName       { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .contactAddress     { display: none; }
.toc_modules .head .url                { display: none; }
.toc_modules .head .copyright          { display: none; }
.toc_modules .head .licenseUrl         { display: none; }
.toc_modules .head .manifestVersion    { display: none; }
.toc_modules .head .packaging          { display: none; }
.toc_modules .head .version            { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}
.toc_modules .head .contentLength      { display: none; }
.toc_modules .head .lastModified       { display: visible; border: thin solid grey; background-color: #ffeeee; padding: 2px; margin: 2px; font-weight: bold;}

.toc_modules                           { display: visible; empty-cells: show; padding: 2px; margin: 2px; }
.toc_modules .line                     { display: visible;  border: thin solid #ffeeee; padding: 2px; margin: 2px;}
.toc_modules .line .name               { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px;}
.toc_modules .line .description        { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px; min-width:400px;}
.toc_modules .line .aboutUrl           { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px; }
.toc_modules .line .vendor             { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px; }
.toc_modules .line .activatorClassName { display: none; }
.toc_modules .line .symbolicName       { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px; }
.toc_modules .line .contactAddress     { display: none; }
.toc_modules .line .url                { display: none; }
.toc_modules .line .copyright          { display: none; }
.toc_modules .line .licenseUrl         { display: none; }
.toc_modules .line .manifestVersion    { display: none; }
.toc_modules .line .packaging          { display: none; }
.toc_modules .line .version            { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px;}
.toc_modules .line .contentLength      { display: none; }
.toc_modules .line .lastModified       { display: visible; border: thin solid #ffeeee; padding: 2px; margin: 2px; }

.toc_modules .even {
    color:#000000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12;
    padding: 2px;
    padding-left: 4px;
    background-color: #FFEEEE;
}

.toc_modules .odd {
    color:#000000;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12;
    padding: 2px;
    padding-left: 4px;
    background-color: #FFFFFF;
}