
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>pfa-gui</symbolicName>
    <version>0.1-SNAPSHOT</version>
    <name>PFA User Interfaces</name>

    <description>PFA User Interfaces</description>

    <vendor>ESA/ESRIN</vendor>
    <contactAddress>Via Galileo Galilei Casella Postale 64 00044 Frascati (Roma) Italy</contactAddress>
    <url>http://wiki.services.eoportal.org/tiki-index.php?page=PFA</url>
    <copyright>(C) 2014 by Array Systems Computing Inc, Brockmann Consult GmbH</copyright>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

	<dependency>
        <module>pfa-core</module>
    </dependency>
	<dependency>
        <module>pfa-database</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <changelog>
        <![CDATA[
        <p>Changes in 4.1:<br/>

        </p>]]>
    </changelog>

    <categories>System,Library</categories>

    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRControlCentreToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRControlCentreToolView</class>
            <title>PFA CBIR Control Centre</title>
            <tabTitle>CBIR Control Centre</tabTitle>
            <largeIcon>/images/icons/pfa-manage-24.png</largeIcon>
            <description>Content Based Image Retrieval - Control Centre</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRQueryToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRQueryToolView</class>
            <title>PFA CBIR Query Images</title>
            <tabTitle>CBIR Query</tabTitle>
            <largeIcon>/images/icons/pfa-query-24.png</largeIcon>
            <description>Content Based Image Retrieval - Query Images</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRLabelingToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRLabelingToolView</class>
            <title>PFA CBIR Labeling</title>
            <tabTitle>CBIR Labeling</tabTitle>
            <largeIcon>/images/icons/pfa-label-24.png</largeIcon>
            <description>Content Based Image Retrieval - Labeling</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRRetrievedImagesToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRRetrievedImagesToolView</class>
            <title>PFA CBIR Assess Retrieved Images</title>
            <tabTitle>CBIR Assess</tabTitle>
            <largeIcon>/images/icons/pfa-retrieve-24.png</largeIcon>
            <description>Content Based Image Retrieval - Retrieved Images</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIROrderingToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIROrderingToolView</class>
            <title>PFA CBIR Product Ordering</title>
            <tabTitle>CBIR Ordering</tabTitle>
            <largeIcon>/images/icons/pfa-order-24.png</largeIcon>
            <description>Content Based Image Retrieval - Product Ordering</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="beam-ui:actions">

    </extension>
</module>
