
<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>pfa-gui</symbolicName>
    <version>0.1-SNAPSHOT</version>
    <name>PFA User Interfaces</name>

    <description>PFA User Interfaces</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

	<dependency>
        <module>pfa-core</module>
    </dependency>
	<dependency>
        <module>pfa-database</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <changelog>
        <![CDATA[
        <p>Changes in 4.1:<br/>

        </p>]]>
    </changelog>

    <categories>System,Library</categories>

    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRWizard</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRWizard</class>
            <title>CBIR Wizard</title>
            <tabTitle>CBIR Wizard</tabTitle>
            <smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>
            <description>Content Based Image Retrieval</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRControlCentreToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRControlCentreToolView</class>
            <title>CBIR Control Centre</title>
            <tabTitle>CBIR Control Centre</tabTitle>
            <smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>
            <description>Content Based Image Retrieval</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRQueryToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRQueryToolView</class>
            <title>CBIR Query Images</title>
            <tabTitle>CBIR Query</tabTitle>
            <smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>
            <description>Content Based Image Retrieval</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRLabelingToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRLabelingToolView</class>
            <title>CBIR Training Images</title>
            <tabTitle>CBIR Training</tabTitle>
            <smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>
            <description>Content Based Image Retrieval</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.pfa.ui.toolviews.cbir.CBIRRetrievedImagesToolView</id>
            <class>org.esa.pfa.ui.toolviews.cbir.CBIRRetrievedImagesToolView</class>
            <title>CBIR Retrieved Images</title>
            <tabTitle>CBIR Retrieved Images</tabTitle>
            <smallIcon>/org/esa/beam/resources/images/icons/RsProduct16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/RsProduct24.gif</largeIcon>
            <description>Content Based Image Retrieval</description>
            <initState>ICONIFIED</initState>
            <!--initSide>EAST</initSide-->
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="beam-ui:actions">

    </extension>
</module>
