<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-envisat-reader</symbolicName>
    <version>5.0</version>
    <name>Envisat Product Reader</name>

    <description>Enables BEAM to read ENVISAT data products.</description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <changelog>
        <![CDATA[
       <b>Changes in 5.0</b><br/>
       [BEAM-1639] Support ASAR 4C specification<br/>
       [BEAM-1638] Envisat/Doris Orbit interpolation not sufficient<br/>
       [BEAM-1414] Incorrect valid-pixel mask for ATSR SST bands<br/>
       ]]>
    </changelog>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,Envisat,MERIS,AATSR,ASAR,ERS</categories>

    <extension point="beam-ui:actions">
		 <action>
            <id>importEnvisatASARProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVISAT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>ENVISAT ASAR</text>
            <shortDescr>Import an ENVISAT ASAR data product or product subset.</shortDescr>
            <largeIcon>icons/Import24.gif</largeIcon>
        </action>
        <action>
            <id>importEnvisatProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVISAT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>ENVISAT MERIS,AATSR</text>
            <mnemonic>E</mnemonic>
            <shortDescr>Import an ENVISAT (MERIS,AATSR) data product or product subset.</shortDescr>
            <largeIcon>icons/Import24.gif</largeIcon>
        </action>
		 <action>
            <id>importErsSARProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVISAT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>ERS 1 / 2 SAR (.E1, .E2)</text>
            <shortDescr>Import an ERS1/2 SAR data product or product subset.</shortDescr>
            <largeIcon>icons/Import24.gif</largeIcon>
            <placeAfter>importEnvisatASARProduct</placeAfter>
        </action>
        <action>
            <id>importErsProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ENVISAT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>ERS 1 / 2 ATSR (.E1, .E2)</text>
            <mnemonic>E</mnemonic>
            <shortDescr>Import an ERS1/2 ATSR data product or product subset.</shortDescr>
            <largeIcon>icons/Import24.gif</largeIcon>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>MERIS L1b - Tristimulus</name>
            <red>log(1.0 + 0.35 * radiance_2 + 0.60 * radiance_5 + radiance_6 + 0.13 * radiance_7)</red>
            <green>log(1.0 + 0.21 * radiance_3 + 0.50 * radiance_4 + radiance_5 + 0.38 * radiance_6)</green>
            <blue>log(1.0 + 0.21 * radiance_1 + 1.75 * radiance_2 + 0.47 * radiance_3 + 0.16 * radiance_4)</blue>
            <pattern>
                <productType>MER_*_1*</productType>
                <productName>MER_*_1*</productName>
                <productDescription/>
            </pattern>
        </rgbProfile>
        <rgbProfile>
            <name>MERIS L2 - Tristimulus</name>
            <red>log(0.05 + 0.35 * reflec_2 + 0.60 * reflec_5 + reflec_6 + 0.13 * reflec_7)</red>
            <green>log(0.05 + 0.21 * reflec_3 + 0.50 * reflec_4 + reflec_5 + 0.38 * reflec_6)</green>
            <blue>log(0.05 + 0.21 * reflec_1 + 1.75 * reflec_2 + 0.47 * reflec_3 + 0.16 * reflec_4)</blue>
            <pattern>
                <productType>MER_*_2*</productType>
                <productName>MER_*_2*</productName>
                <productDescription/>
            </pattern>
        </rgbProfile>
        <rgbProfile>
            <name>MERIS L2 - 13,5,1</name>
            <red>reflec_13</red>
            <green>reflec_5</green>
            <blue>reflec_1</blue>
        </rgbProfile>
        <rgbProfile>
            <name>AATSR L1b - Forward, Day</name>
            <red>reflec_fward_0870</red>
            <green>reflec_fward_0670</green>
            <blue>reflec_fward_0550</blue>
        </rgbProfile>
        <rgbProfile>
            <name>AATSR L1b - Nadir, Day</name>
            <red>reflec_nadir_0870</red>
            <green>reflec_nadir_0670</green>
            <blue>reflec_nadir_0550</blue>
        </rgbProfile>
        <rgbProfile>
            <name>MERIS L1b - 13,4,2</name>
            <red>radiance_13</red>
            <green>radiance_4</green>
            <blue>radiance_2</blue>
        </rgbProfile>
        <rgbProfile>
            <name>MERIS L1b - 13,5,1</name>
            <red>radiance_13</red>
            <green>radiance_5</green>
            <blue>radiance_1</blue>
        </rgbProfile>
    </extension>


</module>
