<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-aatsr-sst</symbolicName>
    <version>5.0</version>
    <name>AATSR SST Processor</name>

    <description>
        The BEAM AATSR SST Processor is aimed to enable the user to calculate the sea-surface temperature
        from (A)ATSR brightness temperatures. The BEAM implementation is explicitly opened for the addition of
        new coefficient sets.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <categories>Application,Processor,Envisat,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicWater</parent>
            <id>sstScientificTool</id>
            <text>(A)ATSR SST Processor...</text>
            <class>org.esa.beam.aatsr.sst.visat.AatsrSstAction</class>
            <description>Generates an SST product from (A)ATSR source products.</description>
            <mnemonic>S</mnemonic>
            <helpId>sstScientificTool</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/sst.hs</path>
        </helpSet>
    </extension>

</module>
