<module>

    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>jlinda-nest</symbolicName>
    <version>0.8.1</version>
    <name>NEST InSAR Operators</name>
    <description>NEST InSAR operators</description>

    <vendor>PPO.labs</vendor>
    <copyright>(C) 2012 by PPO.labs</copyright>
    <url>https://github.com/ppolabs/jlinda</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>
	<dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>s1tbx-io</module>
    </dependency>
	<dependency>
        <module>s1tbx-dem</module>
    </dependency>
    <dependency>
        <module>snap-graph-builder</module>
    </dependency>
	<dependency>
        <module>jlinda-core</module>
    </dependency>

     <extension point="snap-graph-builder:OperatorUIs">

        <OperatorUI>
            <id>org.jlinda.nest.dat.coregistration.CreateInSARStackOpUI</id>
            <class>org.jlinda.nest.dat.coregistration.CreateInSARStackOpUI</class>
            <operatorName>CreateInSARStack</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.jlinda.nest.dat.coregistration.CoarseFineCoregOpUI</id>
            <class>org.jlinda.nest.dat.coregistration.CoarseFineCoregOpUI</class>
            <operatorName>CoarseFine-Coregistration2</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.jlinda.nest.dat.coregistration.ResampleOpUI</id>
            <class>org.jlinda.nest.dat.coregistration.ResampleOpUI</class>
            <operatorName>Resample2</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.jlinda.nest.gpf.CrossResamplingOpUI</id>
            <class>org.jlinda.nest.gpf.CrossResamplingOpUI</class>
            <operatorName>CrossResampling</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.jlinda.nest.gpf.SimulateAmplitudeOpUI</id>
            <class>org.jlinda.nest.gpf.SimulateAmplitudeOpUI</class>
            <operatorName>SimulateAmplitude</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.jlinda.nest.gpf.SubtRefDemOpUI</id>
            <class>org.jlinda.nest.gpf.SubtRefDemOpUI</class>
            <operatorName>SubtRefDem</operatorName>
        </OperatorUI>
    </extension>
    
    <extension point="snap-ui:actions">

        <action>
            <id>products</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Products</text>
            <placeBefore>insar_tools</placeBefore>
            <parent>insar</parent>
        </action>

        <action>
            <id>insar_tools</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Tools</text>
             <placeAfter>Products</placeAfter>
            <separatorAfter>true</separatorAfter>
            <parent>insar</parent>
        </action>

        <action>
            <id>spectral_filtering</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Spectral Filtering</text>
            <parent>insar_tools</parent>
        </action>

        <action>
            <id>unwrapping</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Unwrapping</text>
            <placeAfter>insar_tools</placeAfter>
            <parent>insar</parent>
        </action>

        <action>
            <id>insar_coregistration</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Coregistration</text>
            <placeAfter>unwrapping</placeAfter>
            <parent>insar</parent>
        </action>

        <!--/// PRODUCTS ///-->

        <action>
            <id>InterferogramOp</id>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <text>Interferogram Formation</text>
            <operatorName>Interferogram</operatorName>
            <dialogTitle>Interferogram</dialogTitle>
            <targetProductNameSuffix>_ifg</targetProductNameSuffix>
            <shortDescr>Interferogram Formation and Flat Earth Phase Removal</shortDescr>
            <parent>products</parent>
            <helpId>InterferogramOp</helpId>
        </action>

        <action>
            <id>SubtRefDemOp</id>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <text>Topographic Phase Removal</text>
            <operatorName>SubtRefDem</operatorName>
            <dialogTitle>Topographic Phase Removal</dialogTitle>
            <targetProductNameSuffix>_dinsar</targetProductNameSuffix>
            <shortDescr>Compute and subtract topographic phase</shortDescr>
            <parent>products</parent>
            <helpId>SubtRefDemOp</helpId>
        </action>

        <action>
            <id>CoherenceOp</id>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <text>Coherence Estimation</text>
            <operatorName>Coherence</operatorName>
            <dialogTitle>Coherence</dialogTitle>
            <targetProductNameSuffix>_coh</targetProductNameSuffix>
            <shortDescr>Estimate coherence of stack of images</shortDescr>
            <parent>products</parent>
            <helpId>CoherenceOp</helpId>
        </action>

        <!--action>
            <id>SimulateAmplitudeOp</id>
            <helpId>SimulateAmplitudeOp</helpId>
            <class>org.jlinda.nest.dat.SimulateAmplitudeAction</class>
            <text>Simulate Amplitude</text>
            <shortDescr>Simulate Amplitude</shortDescr>
            <placeAfter>CoherenceOp</placeAfter>
            <parent>products</parent>
        </action-->

        <action>
            <id>DInSAROp</id>
            <class>org.jlinda.nest.dat.DInSARAction</class>
            <text>Three-pass Differential InSAR</text>
            <shortDescr>Three-Pass differential InSAR</shortDescr>
            <placeAfter>CoherenceOp</placeAfter>
            <parent>products</parent>
        </action>
        <action>
            <id>Slant2HeightOp</id>
            <class>org.jlinda.nest.dat.Slant2HeightAction</class>
            <text>Phase to height conversion</text>
            <shortDescr>Phase to height conversion</shortDescr>
            <placeAfter>DInSAROp</placeAfter>
            <parent>products</parent>
        </action>

        <!--/// FILTERING ///-->

        <action>
            <id>RangeFilterOp</id>
            <class>org.jlinda.nest.dat.RangeFilterAction</class>
            <text>Range Filtering</text>
            <shortDescr>Filter stack of SAR images in RANGE direction</shortDescr>
            <placeBefore>org.jlinda.nest.dat.AzimuthFilterAction</placeBefore>
            <parent>spectral_filtering</parent>
        </action>

        <action>
            <id>AzimuthFilterOp</id>
            <class>org.jlinda.nest.dat.AzimuthFilterAction</class>
            <text>Azimuth Filtering</text>
            <shortDescr>Filter stack of SAR images in AZIMUTH direction</shortDescr>
            <parent>spectral_filtering</parent>
        </action>

        <action>
            <id>PhaseFilterOp</id>
            <class>org.jlinda.nest.dat.PhaseFilterAction</class>
            <text>Phase Filtering</text>
            <shortDescr>Phase filter stack of interferograms</shortDescr>
            <placeAfter>spectral_filtering</placeAfter>
            <parent>insar_tools</parent>
        </action>

        <action>
            <id>InSARMaster</id>
            <helpId>InSARMaster</helpId>
            <class>org.jlinda.nest.dat.InSARMasterAction</class>
            <parent>insar</parent>
            <text>InSAR Stack Overview</text>
            <separatorAfter>true</separatorAfter>
        </action>

        <!--/// UNWRAPPING ///-->
        
        <!--/// integrated unwrapping ///-->
        <action>
            <id>UnwrapOp</id>
            <helpId>Unwrap</helpId>
            <class>org.jlinda.nest.dat.UnwrapAction</class>
            <text>Unwrap tiles</text>
            <dialogTitle>Unwrap input per tile</dialogTitle>
            <shortDescr>Perform independent tile unwrapping of input interferogram</shortDescr>
            <parent>unwrapping</parent>
        </action>

        <action>
            <id>StitchOp</id>
            <helpId>Unwrap</helpId>
            <class>org.jlinda.nest.dat.StitchAction</class>
            <text>Stitch unwrapped tiles</text>
            <dialogTitle>Stitch unwrapped tiles</dialogTitle>
            <shortDescr>Perform stitching of independently unwrapped interferogram tiles</shortDescr>
            <parent>unwrapping</parent>
            <placeAfter>UnwrapOp</placeAfter>
            <separatorAfter>true</separatorAfter>
        </action>
        
        <!--/// snaphu unwrapping ///-->
        <action>
            <id>SnaphuExportOp</id>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <helpId>Unwrap</helpId>
            <text>Snaphu data export</text>
            <dialogTitle>Export data for SNAPHU unwrapping</dialogTitle>
            <graphFile>SnaphuExportGraph.xml</graphFile>
            <targetProductNameSuffix>_snaphu</targetProductNameSuffix>
            <shortDescr>Export data and construct conf file for SNAPHU unwrapping</shortDescr>
            <parent>unwrapping</parent>
            <placeAfter>StitchOp</placeAfter>
        </action>

        <action>
            <id>SnaphuImportOp</id>
            <helpId>Unwrap</helpId>
            <class>org.jlinda.nest.dat.snaphu.SnaphuImportAction</class>
            <text>Snaphu data import</text>
            <shortDescr>Import result of Snaphu to InSAR product</shortDescr>
            <parent>unwrapping</parent>
            <placeAfter>SnaphuExportOp</placeAfter>
        </action>

        <action>
            <id>exportSnaphuProduct</id>
            <text>Export Snaphu Product</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>Snaphu</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export Snaphu Product</shortDescr>
            <helpId>exportSnaphuProduct</helpId>
        </action>

        <!--/// COREGISTRATION ///-->

        <action>
	        <id>InSARCoregistrationGraph</id>
	        <helpId>InSARCoregistration</helpId>
	        <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>insar_coregistration</parent>
	        <text>InSAR Coregistration</text>
            <shortDescr>Perform InSAR Optimized Automatic Coregistration</shortDescr>
	        <dialogTitle>InSAR Coregistration</dialogTitle>
            <graphFile>InSARCoregistrationGraph.xml</graphFile>
            <placeAfter>CreateInSARStackOp</placeAfter>
            <separatorAfter>true</separatorAfter>
        </action>
        
        <action>
            <id>CrossResamplingOp</id>
            <helpId>CrossResamplingOp</helpId>
            <class>org.jlinda.nest.dat.CrossResamplingAction</class>
            <text>Cross InSAR resampling</text>
            <shortDescr>Perform resampling of SAR geometries for Cross-InSAR</shortDescr>
            <placeAfter>InSARCoregistrationGraph</placeAfter>
            <parent>insar_coregistration</parent>
        </action>
        
        
        
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>jLindaHelp</id>
            <path>doc/help/jlinda.hs</path>
        </helpSet>
    </extension>

</module>
