<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-scripting</symbolicName>
    <version>5.0</version>
    <name>BEAM Scripting Interface</name>

    <description>Provides a simple console for scripting BEAM using JavaScript (default)
        or other Java-enabled interpreter languages (add-on).
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <categories>VISAT,System</categories>

    <extension point="beam-ui:toolViews">
        <toolView>
            <id>org.esa.beam.scripting.visat.ScriptConsoleToolView</id>
            <class>org.esa.beam.scripting.visat.ScriptConsoleToolView</class>
            <title>Script Console</title>
            <tabTitle>Script Console</tabTitle>
            <description>Execute BEAM scripts using JavaScript (default) or other scripting languages (add-on).</description>
            <mnemonic>S</mnemonic>
            <accelerator>ctrl alt S</accelerator>
            <smallIcon>/org/esa/beam/scripting/visat/icons/utilities-terminal-16.png</smallIcon>
            <largeIcon>/org/esa/beam/scripting/visat/icons/utilities-terminal-22.png</largeIcon>
            <!--<helpId>TODO</helpId>-->
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

</module>