<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-machine-learning</symbolicName>
    <version>6.0-SNAPSHOT</version>
    <name>NEST Machine Learning Tools</name>

    <description>Machine Learning Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
		
    <categories>Processor</categories>

    <extension point="beam-ui:actions">


    </extension>

</module>