<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-visat</symbolicName>
    <version>0.5</version>
    <name>SNAP VISAT Application</name>

    <description>
        A desktop application used to open, browse, visualise,
        analyse and manipulate data products of a number of EO sensors.
    </description>

    <extension point="snap-ui:applicationDescriptors">
        <applicationDescriptor>
            <applicationId>VisatMain</applicationId>
            <displayName>S3 Toolbox</displayName>
            <version>${s3tbx.version}</version>
            <buildId>${s3tbx.build.id}</buildId>
            <buildDate>${s3tbx.build.date}</buildDate>
            <excludedToolViews>
                <!-- place tool view IDs here you wish to exclude from your application -->
                <!-- e.g. <id>org.esa.beam.visat.toolviews.lm.LayersToolView</id> -->
            </excludedToolViews>
        </applicationDescriptor>
    </extension>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(c) Copyright 2002-2011 by Brockmann Consult and contributors.&lt;br/&gt;All rights reserved.</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>
    <dependency>
        <module>snap-beam-help</module>
        <optional>true</optional>
    </dependency>

    <categories>System,Application,VISAT</categories>

    <extension point="snap-ceres-core:applications">
        <application id="VisatMain" class="org.esa.beam.visat.VisatMain"/>
    </extension>

</module>
