<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>s1tbx-help</symbolicName>
    <name>Help</name>
    <version>2.0.0</version>
    <packaging>dir</packaging>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <description>Provides the software user manual.</description>

    <categories>System,Help</categories>

    <dependency>
        <module>snap-ui</module>
    </dependency>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <id>snap-help</id>
            <path>doc/help/nest.hs</path>
        </helpSet>
    </extension>

</module>