<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-core</symbolicName>
    <version>0.5</version>
    <name>SNAP Core Library</name>


    <description>This is the base module of SNAP containing its core functionality.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-ceres-core</module>
    </dependency>
    <dependency>
        <module>snap-glayer</module>
    </dependency>
    <dependency>
        <module>snap-jai</module>
    </dependency>


    <activator>org.esa.beam.BeamCoreActivator</activator>

    <categories>System,Library</categories>

    <!--
       todo - Describe configuration elements
    -->
    <extensionPoint id="parameterEditors"/>

    <extensionPoint id="rgbProfiles">
        <rgbProfile>
            <name type="java.lang.String"/>
            <red type="java.lang.String"/>
            <green type="java.lang.String"/>
            <blue type="java.lang.String"/>
            <alpha type="java.lang.String"/>
            <!-- optional -->
        </rgbProfile>
    </extensionPoint>


    <extension point="snap-ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.dataio.dimap.spi.DimapPersistableSpi</serviceProvider>
        <serviceProvider>org.esa.beam.framework.dataio.ProductReaderPlugIn</serviceProvider>
        <serviceProvider>org.esa.beam.framework.dataio.ProductWriterPlugIn</serviceProvider>
        <serviceProvider>org.esa.beam.framework.dataop.maptransf.MapTransformDescriptor</serviceProvider>
        <serviceProvider>org.esa.beam.framework.dataop.dem.ElevationModelDescriptor</serviceProvider>
        <serviceProvider>org.esa.beam.framework.datamodel.PointingFactory</serviceProvider>
        <serviceProvider>org.esa.beam.framework.datamodel.PlacemarkDescriptor</serviceProvider>
        <serviceProvider>org.geotools.referencing.operation.MathTransformProvider</serviceProvider>
    </extension>

</module>
