<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-unmix</symbolicName>
    <version>0.5</version>
    <name>Spectral Unmixing</name>

    <description>
        Spectral unmixing tool.
    </description>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Image Analysis</categories>

    <extension point="snap-ui:actions">
        <action>
            <parent>processing.imageAnalysis</parent>
            <id>spectralUnmixing</id>
            <text>Spectral Unmixing...</text>
            <class>org.esa.beam.unmixing.visat.SpectralUnmixingAction</class>
            <mnemonic>U</mnemonic>
            <helpId>spectralUnmixing</helpId>
        </action>
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-beam-help</parent>
            <path>doc/help/unmixing.hs</path>
        </helpSet>
    </extension>

</module>