<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>rstb-polarimetric-tools</symbolicName>
    <version>6.2</version>
    <name>RSTB Polarimetric SAR Tools</name>

    <description>Polarimetric SAR Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>Canadian Space Agency</funding>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>snap-graph-builder</module>
    </dependency>
    <dependency>
        <module>s1tbx-rcp</module>
    </dependency>
    <dependency>
        <module>s1tbx-io</module>
    </dependency>

    <categories>processor</categories>

    <extension point="snap-graph-builder:OperatorUIs">

        <OperatorUI>
            <id>org.csa.rstb.gpf.PolarimetricDecompositionOpUI</id>
            <class>org.csa.rstb.gpf.PolarimetricDecompositionOpUI</class>
            <operatorName>Polarimetric-Decomposition</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.csa.rstb.gpf.PolarimetricSpeckleFilterOpUI</id>
            <class>org.csa.rstb.gpf.PolarimetricSpeckleFilterOpUI</class>
            <operatorName>Polarimetric-Speckle-Filter</operatorName>
        </OperatorUI>
    </extension>

    <extension point="snap-ui:toolViews">
        <toolView>
            <id>org.csa.rstb.dat.toolviews.HaAlphaPlotToolView</id>
            <class>org.csa.rstb.dat.toolviews.HaAlphaPlotToolView</class>
            <title>H-a Alpha Plane</title>
            <tabTitle>H-a Alpha Plane</tabTitle>
            <description>H-a Alpha Plane Plot</description>
            <smallIcon>/org/csa/rstb/icons/h-a-alpha16.png</smallIcon>
            <largeIcon>/org/csa/rstb/icons/h-a-alpha22.png</largeIcon>
            <helpId></helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="snap-ui:actions">

        <action>
            <id>polarimetrictools</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Polarimetric</text>
            <parent>Sar Processing</parent>
            <placeAfter>insar</placeAfter>
        </action>

        <action>
            <id>launchPolsarPro</id>
            <parent>polarimetrictools</parent>
            <class>org.esa.nest.dat.actions.LaunchPolsarProAction</class>
            <text>Launch PolSARPro</text>
            <shortDescr>Start PolSARPro</shortDescr>
            <separatorBefore>true</separatorBefore>
            <separatorAfter>true</separatorAfter>
            <placeLast>true</placeLast>
        </action>

        <action>
            <id>PolarimetricMatricesOp</id>
            <helpId>PolarimetricMatricesOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
            <text>Polarimetric Matrix Generation</text>
            <dialogTitle>Generate Covariance or Coherency Matrix</dialogTitle>
            <shortDescr>Generate Covariance or Coherency Matrix</shortDescr>
            <operatorName>Polarimetric-Matrices</operatorName>
            <targetProductNameSuffix>_mat</targetProductNameSuffix>
        </action>

        <action>
            <id>PolarimetricSpeckleFilterOp</id>
            <helpId>PolarimetricSpeckleFilterOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
            <text>Polarimetric Speckle Filter</text>
            <dialogTitle>Polarimetric Speckle Filter</dialogTitle>
            <shortDescr>Polarimetric Speckle Filter</shortDescr>
            <operatorName>Polarimetric-Speckle-Filter</operatorName>
            <targetProductNameSuffix>_Spk</targetProductNameSuffix>
            <placeAfter>PolarimetricMatricesOp</placeAfter>
        </action>

        <action>
            <id>OrientationAngleCorrectionOp</id>
            <helpId>OrientationAngleCorrectionOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
            <text>Orientation Angle Correction</text>
            <dialogTitle>Orientation Angle Correction</dialogTitle>
            <shortDescr>Orientation Angle Correction</shortDescr>
            <operatorName>Orientation-Angle-Correction</operatorName>
            <targetProductNameSuffix>_Ori</targetProductNameSuffix>
            <placeAfter>PolarimetricSpeckleFilterOp</placeAfter>
        </action>

        <action>
            <id>PolarimetricDecompositionOp</id>
            <helpId>PolarimetricDecompositionOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
            <text>Polarimetric Decomposition</text>
            <dialogTitle>Polarimetric Decomposition</dialogTitle>
            <shortDescr>Polarimetric Decomposition</shortDescr>
            <operatorName>Polarimetric-Decomposition</operatorName>
            <targetProductNameSuffix>_Decomp</targetProductNameSuffix>
            <placeAfter>OrientationAngleCorrectionOp</placeAfter>
        </action>

    </extension>

    <extension point="snap-core:rgbProfiles">
        <rgbProfile>
            <name>T3</name>
            <red>T11</red>
            <green>T22</green>
            <blue>T33</blue>
        </rgbProfile>
        <rgbProfile>
            <name>C3</name>
            <red>C11</red>
            <green>C22</green>
            <blue>C33</blue>
        </rgbProfile>
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>polarimetricHelp</id>
            <path>doc/help/polarimetric.hs</path>
        </helpSet>
    </extension>
</module>
