<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>rstb-polarimetric-tools</symbolicName>
    <version>5.7</version>
    <name>RSTB Polarimetric SAR Tools</name>

    <description>Polarimetric SAR Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>Canadian Space Agency</funding>

    <dependency>
        <module>nest-core</module>
    </dependency>
	<dependency>
        <module>nest-dat</module>
    </dependency>
    <dependency>
        <module>nest-reader-dem</module>
    </dependency>
	
    <categories>Application,DAT</categories>

	<extension point="beam-ui:actions">

        <action>
	        <id>PolarimetricMatricesOp</id>
	        <helpId>PolarimetricMatricesOp</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
	        <text>Polarimetric Matrix Generation</text>
	        <dialogTitle>Generate Covariance or Coherency Matrix</dialogTitle>
            <shortDescr>Generate Covariance or Coherency Matrix</shortDescr>
            <operatorName>Polarimetric-Matrices</operatorName>
            <targetProductNameSuffix>_mat</targetProductNameSuffix>
	    </action>

        <action>
	        <id>PolarimetricSpeckleFilterOp</id>
	        <helpId>PolarimetricSpeckleFilterOp</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
	        <text>Polarimetric Speckle Filter</text>
	        <dialogTitle>Polarimetric Speckle Filter</dialogTitle>
            <shortDescr>Polarimetric Speckle Filter</shortDescr>
            <operatorName>Polarimetric-Speckle-Filter</operatorName>
            <targetProductNameSuffix>_Spk</targetProductNameSuffix>
            <placeAfter>PolarimetricMatricesOp</placeAfter>
        </action>

        <action>
	        <id>OrientationAngleCorrectionOp</id>
	        <helpId>OrientationAngleCorrectionOp</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
	        <text>Orientation Angle Correction</text>
	        <dialogTitle>Orientation Angle Correction</dialogTitle>
            <shortDescr>Orientation Angle Correction</shortDescr>
            <operatorName>Orientation-Angle-Correction</operatorName>
            <targetProductNameSuffix>_Ori</targetProductNameSuffix>
            <placeAfter>PolarimetricSpeckleFilterOp</placeAfter>
        </action>

        <action>
	        <id>PolarimetricDecompositionOp</id>
	        <helpId>PolarimetricDecompositionOp</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>polarimetrictools</parent>
	        <text>Polarimetric Decomposition</text>
	        <dialogTitle>Polarimetric Decomposition</dialogTitle>
            <shortDescr>Polarimetric Decomposition</shortDescr>
            <operatorName>Polarimetric-Decomposition</operatorName>
            <targetProductNameSuffix>_Decomp</targetProductNameSuffix>
            <placeAfter>OrientationAngleCorrectionOp</placeAfter>
        </action>

    </extension>
	
	<extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
			<id>polarimetricHelp</id>
            <path>doc/help/polarimetric.hs</path>
        </helpSet>
    </extension>
</module>
