<!--
  ~ Copyright (C) 2010 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-pixel-extraction</symbolicName>
    <version>1.2</version>
    <name>BEAM Pixel Extraction Tool</name>

    <description>The BEAM Pixel Extraction Tool can be used to generate a CSV file from a given pixel location
        of specified products. It is implemented as a GPF operator.
    </description>

    <changelog>
        <![CDATA[
               <b>Changes from 1.1 to 1.2</b><br/>
               Adapted to new Maven-architecture<br/>
               [BEAM-1399] PixEx operator shall handle products without GeoCoding more gracefully<br/>
               <b>Changes from 1.0 to 1.1</b><br/>
               [BEAM-1393] PixExOp shall use Unix-style wildcards for values of parameter 'inputPaths'<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <categories>VISAT,Processing</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <parent>tool</parent>
            <id>pixelExtraction</id>
            <class>org.esa.beam.pixex.visat.PixelExtractionAction</class>
            <operatorName>PixEx</operatorName>
            <dialogTitle>Pixel Extraction</dialogTitle>
            <helpId>pixelExtraction</helpId>
            <text>Pixel Extraction...</text>
            <description>Extract of one or more data products for given list of geographical points.</description>
            <mnemonic>P</mnemonic>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/pixelExtraction.hs</path>
        </helpSet>
    </extension>

</module>