<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-collocation</symbolicName>
    <version>0.5</version>
    <name>Collocation</name>

    <description>
        Performs a geographic collocation of two data products.
    </description>

    <changelog>
        <![CDATA[
        <b>Changes in 5.0.1</b><br/>
        NPE fixed in mask expression string in Geocoding display panel; slight simplification in CollocateOp <br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Collocation</categories>

    <extension point="snap-ui:actions">
        <action>
            <parent>processing.geomOperations</parent>
            <id>collocation</id>
            <class>org.esa.beam.collocation.visat.CollocationAction</class>
            <text>Collocation...</text>
            <helpId>collocation</helpId>
        </action>
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-beam-help</parent>
            <path>doc/help/collocation.hs</path>
        </helpSet>
    </extension>

</module>
