<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-collocation</symbolicName>
    <version>1.4.1</version>
    <name>Collocation</name>

    <description>
        Collocation tool.
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.4.1:<br/>
        Adapted to new Maven-architecture<br>
        [BEAM-1405] Rounding errors in collocation of int32 bands<br/>
        Changes in 1.4:<br/>
        [BEAM-1314] Processor menus are not visible on Mac<br/>
        Changes in 1.3:<br/>
        [BEAM-1263] All processors shall provide help and "about" information<br/>
        [BEAM-1052] All processors should be able to store/reload their configuration<br/>
        Changes in 1.2:<br/>
        [BEAM-1209] Unable to collocate two data sets<br/>
        Changes in 1.1:<br/>
        [BEAM-957] "Search" tab missing VISAT help<br/>
        Changes in 1.0.100:<br/>
        [BEAM-769] Collocation does not merge and rename tie-point grids<br/>
        Changes in 1.0.1:<br/>
        [BEAM-757] Layout of help pages is not uniform<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Collocation</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>collocation</id>
            <helpId>collocation</helpId>
            <class>org.esa.beam.collocation.visat.CollocationAction</class>
            <parent>tools</parent>
            <text>Collocation...</text>
            <placeAfter>mosaicAction</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/collocation.hs</path>
        </helpSet>
    </extension>

</module>
