<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-collocation</symbolicName>
    <version>1.0.100</version>
    <name>Collocation</name>

    <description>
        Collocation tool.
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.1:<br/>

        [BEAM-???] todo - Parameter validation is incomplete<br/>
        [BEAM-???] todo - Show resulting names of components in dialog<br/>
        [BEAM-769] Collocation does not merge and rename tie-point grids<br/>
        Changes in 1.0.1:<br/>
        [BEAM-757] Layout of help pages is not uniform<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Collocation</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>collocation</id>
            <helpID>collocation</helpID>
            <class>org.esa.beam.collocation.visat.CollocationAction</class>
            <parent>tools</parent>
            <text>Collocation...</text>
            <placeAfter>orthorectification</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/collocation.hs</path>
        </helpSet>
    </extension>

</module>
