<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-atsr-reader</symbolicName>
    <version>5.0</version>
    <name>ATSR Product Reader</name>

    <description>Enables BEAM to read ERS-1 and -2 ATSR data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <categories>Reader,ERS,ATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importAtsrProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ATSR</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <largeIcon>icons/Import24.gif</largeIcon>
            <mnemonic>A</mnemonic>
            <shortDescr>Import a ATSR data product or product subset.</shortDescr>
            <helpId>importAtsrProduct</helpId>
        </action>
    </extension>

</module>