<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-radiometry</symbolicName>
    <version>1.0</version>
    <name>MERIS L1b Radiometry Processor</name>

    <description>
        Performs radiometric corrections on MERIS L1b data products.
    </description>

    <changelog>
        <![CDATA[]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Processing,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisRadiometryCorrection</id>
            <helpId>merisRadiometryCorrection</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <parent>tools</parent>
            <text>Radiometry Correction (MERIS)...</text>
            <mnemonic>E</mnemonic>
            <placeAfter>flhMciScientificTool</placeAfter>
            <placeBefore>cloudScientificTool</placeBefore>
            <operatorName>Meris.CorrectRadiometry</operatorName>
            <dialogTitle>MERIS L1b Radiometry Correction</dialogTitle>
            <targetProductNameSuffix>_radiometry</targetProductNameSuffix>
        </action>
    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/radiometryCorrection.hs</path>
        </helpSet>
    </extension>

</module>
