<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-radiometry</symbolicName>
    <version>1.0</version>
    <name>MERIS L1b Radiometry Processor</name>

    <description>
        Performs radiometric corrections on MERIS L1b data products.
    </description>

    <changelog>
        <![CDATA[]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Processing,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisRadiometryCorrection</id>
            <class>org.esa.beam.meris.radiometry.visat.MerisRadiometryCorrectionAction</class>
            <parent>tools</parent>
            <placeAfter>flhMciScientificTool</placeAfter>
            <placeBefore>cloudScientificTool</placeBefore>
            <helpID>merisRadiometryCorrection</helpID>
            <text>Radiometry Correction (MERIS)...</text>
            <shortDescr>Performs radiometric correction on MERIS</shortDescr>
            <longDescr>Performs radiometric correction on MERIS data products</longDescr>
            <mnemonic>E</mnemonic>

        </action>

    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/radiometryCorrection.hs</path>
        </helpSet>
    </extension>

</module>
