<module>

    <symbolicName>${artifactId}</symbolicName>
    <version>${version}</version>
    <name>NEST Reader ${artifactId}</name>
    <description></description>

    <!-- Place your product reader extensions here -->
    <extension point="beam-core:productReaders">
        <productReader class="${groupId}.MyProductReaderPlugIn" />
    </extension>

    <!-- Place your product writer extensions here -->
    <extension point="beam-core:productWriters">
        <productReader class="${groupId}.MyProductWriterPlugIn" />
    </extension>

</module>