<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-dem</symbolicName>
    <version>1.1.0</version>
    <name>S1TBX DEM Reader</name>

    <description>Enables reading of SRTM, ACE and D-TED digital elevation models.</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>s1tbx-io</module>
    </dependency>
    <dependency>
        <module>snap-geotiff</module>
    </dependency>
    <dependency>
        <module>jlinda-core</module>
    </dependency>

    <categories>Reader,DEM</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.nest.dataio.dem.ElevationModelDescriptor</serviceProvider>
    </extension>

</module>