<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>beam-statistics-op</symbolicName>
    <version>5.0</version>
    <name>BEAM Statistics Operator</name>
    <funding>EU</funding>

    <description>
        <![CDATA[
            The beam-statistics module contains an operator for computing statistics for a set of input products and
            regions.
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <categories>Application,Processor,Geometry,VISAT,Level-3,Envisat,MERIS,AATSR,AVHRR,CHRIS</categories>

    <dependency>
        <module>beam-gpf</module>
    </dependency>

</module>