<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-product-library</symbolicName>
    <version>1.1.0</version>
    <name>S1TBX Product Library</name>

    <description>S1TBX Product Library</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>


    <dependency>
        <module>snap-gui-utilities</module>
    </dependency>
    <dependency>
        <module>jlinda-nest-ui</module>
    </dependency>

    <categories>Application,DAT</categories>

    <extension point="snap-ui:toolViews">
        <toolView>
            <id>org.esa.nest.dat.toolviews.productlibrary.ProductLibraryToolView</id>
            <class>org.esa.nest.dat.toolviews.productlibrary.ProductLibraryToolView</class>
            <title>Product Library - Local Catalogue</title>
            <tabTitle>Product Library</tabTitle>
            <mnemonic>D</mnemonic>
            <accelerator>ctrl alt D</accelerator>
            <smallIcon>/org/esa/nest/icons/product_library16.png</smallIcon>
            <largeIcon>/org/esa/nest/icons/product_library24.png</largeIcon>
            <initState>ICONIFIED</initState>
            <initSide>EAST</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

    <extension point="snap-ui:actions">

    </extension>

    <!--extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>S1TBXProductLibraryHelp</id>
            <path>doc/help/s1tbx-product-library.hs</path>
        </helpSet>
    </extension-->

</module>
