<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-obpg-reader</symbolicName>
    <version>1.3</version>
    <name>NASA Ocean Color Product Reader</name>
    <description>A reader for NASA Ocean Color (HDF) Level-2 Data Products</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        Changes in 1.2:<br/>
        [BEAM-1149] - OBPG reader causes Exception if used with GPF<br/>
        [BEAM-1087] - OBPG child products can not be read<br/>
        [BEAM-1085] - Support reprocessed data by NASA OBPG<br/>
        Changes in 1.1:<br/>
        [BEAM-1080] The valid pixel expression of the OBPG L2 products does not conform to product specification<br/>
        [BEAM-1079] Set product start and stop time from metadata<br/>
        [BEAM-1078] OBPG reader should use the pure Java netcdf library<br/>
        Changes in 1.0.2:<br/>
        [BEAM-922] Wrong Exception type thrown on format errors<br/>
        Changes in 1.0.101:<br/>
        [BEAM-855] Reader plugin does not close SD interface<br/>
        [BEAM-840] MODIS L2 "*.x.hdf" read error<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,OBPG,MODIS,HDF,VISAT</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importObpgProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>NASA-OBPG</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <text>NASA Ocean Color (MODIS, OCTS, CZCS, SeaWiFS)</text>
            <shortDescr>Import a NASA Ocean Color data product or subset.</shortDescr>
            <description>Import a NASA Ocean Color (MODIS, OCTS, CZCS, SeaWiFS) data product or product subset.
            </description>
            <helpId>importObpgProduct</helpId>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>NASA OBPG SeaWiFS L2</name>
            <red>nLw_670</red>
            <green>nLw_510</green>
            <blue>nLw_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG MODIS L2</name>
            <red>nLw_667</red>
            <green>nLw_531</green>
            <blue>nLw_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG OCTS/CZCS L2</name>
            <red>nLw_670</red>
            <green>nLw_520</green>
            <blue>nLw_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG SeaWiFS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_510 + 0.4*nLw_555)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG MODIS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_531 + 0.4*nLw_551)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG OCTS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_565)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OBPG CZCS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_550)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
    </extension>


</module>
