<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-op-sar-processing</symbolicName>
    <version>1.1.0</version>
    <name>S1TBX SAR Processing</name>
    <description>S1TBX SAR Processing</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>
    <dependency>
        <module>snap-graph-builder</module>
    </dependency>
    <dependency>
        <module>s1tbx-rcp</module>
    </dependency>
    <dependency>
        <module>s1tbx-op-calibration</module>
    </dependency>
    <dependency>
        <module>s1tbx-op-coregistration</module>
    </dependency>
    <dependency>
        <module>s1tbx-dem</module>
    </dependency>
    <dependency>
        <module>jlinda-core</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="snap-graph-builder:OperatorUIs">

        <OperatorUI>
            <id>org.esa.nest.gpf.MultilookOpUI</id>
            <class>org.esa.nest.gpf.MultilookOpUI</class>
            <operatorName>Multilook</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.filtering.SpeckleFilterOpUI</id>
            <class>org.esa.nest.gpf.filtering.SpeckleFilterOpUI</class>
            <operatorName>Speckle-Filter</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.ALOSDeskewingUI</id>
            <class>org.esa.nest.gpf.geometric.ALOSDeskewingUI</class>
            <operatorName>ALOS-Deskewing</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.EllipsoidCorrectionRDOpUI</id>
            <class>org.esa.nest.gpf.geometric.EllipsoidCorrectionRDOpUI</class>
            <operatorName>Ellipsoid-Correction-RD</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.GeolocationGridGeocodingOpUI</id>
            <class>org.esa.nest.gpf.geometric.GeolocationGridGeocodingOpUI</class>
            <operatorName>Ellipsoid-Correction-GG</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.RangeDopplerGeocodingOpUI</id>
            <class>org.esa.nest.gpf.geometric.RangeDopplerGeocodingOpUI</class>
            <operatorName>Terrain-Correction</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.SARSimTerrainCorrectionOpUI</id>
            <class>org.esa.nest.gpf.geometric.SARSimTerrainCorrectionOpUI</class>
            <operatorName>SARSim-Terrain-Correction</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.MosaicOpUI</id>
            <class>org.esa.nest.gpf.geometric.MosaicOpUI</class>
            <operatorName>SAR-Mosaic</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.SARSimulationOpUI</id>
            <class>org.esa.nest.gpf.geometric.SARSimulationOpUI</class>
            <operatorName>SAR-Simulation</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.geometric.TerrainFlatteningOpUI</id>
            <class>org.esa.nest.gpf.geometric.TerrainFlatteningOpUI</class>
            <operatorName>Terrain-Flattening</operatorName>
        </OperatorUI>
    </extension>

    <extension point="snap-ui:actions">

        <action>
            <id>insar</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Interferometric</text>
            <parent>Sar Processing</parent>
            <placeAfter>geometry</placeAfter>
        </action>

        <!-- Geometric -->

        <action>
            <id>geometry</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Geometric</text>
            <parent>Sar Processing</parent>
            <placeAfter>Calibration</placeAfter>
        </action>

        <action>
            <id>TerrainCorrection</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Terrain Correction</text>
            <parent>geometry</parent>
        </action>

        <action>
            <id>RangeDopplerGeocodingOp</id>
            <helpId>RangeDopplerGeocodingOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>TerrainCorrection</parent>
            <text>Range-Doppler Terrain Correction</text>
            <operatorName>Terrain-Correction</operatorName>
            <dialogTitle>Range Doppler Terrain Correction</dialogTitle>
            <shortDescr>Terrain Correction Range-Doppler Method</shortDescr>
            <targetProductNameSuffix>_TC</targetProductNameSuffix>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>SARSimGeocodingOp</id>
            <helpId>SARSimGeocodingOp</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>TerrainCorrection</parent>
            <text>SAR-Simulation Terrain Correction</text>
            <shortDescr>Perform Orthorectification using a simulated SAR image</shortDescr>
            <dialogTitle>SAR-Simulation Terrain Correction</dialogTitle>
            <graphFile>SARSimTCGraph.xml</graphFile>
            <placeAfter>RangeDopplerGeocodingOp</placeAfter>
        </action>

        <action>
            <id>SARSimulationOp</id>
            <helpId>SARSimOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>TerrainCorrection</parent>
            <text>SAR Simulation</text>
            <operatorName>SAR-Simulation</operatorName>
            <dialogTitle>Simulate a SAR image</dialogTitle>
            <shortDescr>Simulate a SAR image based on a DEM</shortDescr>
            <targetProductNameSuffix>_Sim</targetProductNameSuffix>
            <placeAfter>RangeDopplerGeocodingOp</placeAfter>
        </action>

        <action>
            <id>EllipsoidCorrection</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Ellipsoid Correction</text>
            <parent>geometry</parent>
            <placeAfter>TerrainCorrection</placeAfter>
        </action>

        <action>
            <id>GeolocationGridGeocodingOp</id>
            <helpId>GeolocationGridGeocodingOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>EllipsoidCorrection</parent>
            <text>Geolocation-Grid</text>
            <operatorName>Ellipsoid-Correction-GG</operatorName>
            <dialogTitle>Ellipsoid Correction - Geolocation Grid</dialogTitle>
            <shortDescr>Ellipsoid Correction Geolocation-Grid Method</shortDescr>
            <targetProductNameSuffix>_EC</targetProductNameSuffix>
        </action>

        <action>
            <id>EllipsoidCorrectionRDOp</id>
            <helpId>EllipsoidCorrectionRDOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>EllipsoidCorrection</parent>
            <text>Average Height Range-Doppler</text>
            <operatorName>Ellipsoid-Correction-RD</operatorName>
            <dialogTitle>Ellipsoid Correction - Range Doppler</dialogTitle>
            <shortDescr>Ellipsoid Correction Range-Doppler Method Assuming Average Height</shortDescr>
            <targetProductNameSuffix>_EC</targetProductNameSuffix>
        </action>

        <action>
            <id>MosaicOp</id>
            <helpId>MosaicOp</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>geometry</parent>
            <placeAfter>DEMTools</placeAfter>
            <text>SAR Mosaic</text>
            <shortDescr>Mosaic various images together</shortDescr>
            <dialogTitle>Mosaic</dialogTitle>
            <graphFile>MosaicGraph.xml</graphFile>
        </action>

        <action>
            <id>ALOSDeskewingOp</id>
            <helpId>ALOSDeskewingOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>geoAusIcon</icon>
            <parent>geometry</parent>
            <text>ALOS Deskewing</text>
            <operatorName>ALOS-Deskewing</operatorName>
            <dialogTitle>Deskew ALOS product</dialogTitle>
            <shortDescr>Deskew ALOS product</shortDescr>
            <targetProductNameSuffix>_DS</targetProductNameSuffix>
            <placeAfter>SlantRangeGroundRangeOp</placeAfter>
        </action>

        <action>
            <id>TerrainFlatteningOp</id>
            <helpId>TerrainFlatteningOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>Calibration</parent>
            <text>Radiometric Terrain Flattening</text>
            <dialogTitle>Terrain Flattening</dialogTitle>
            <shortDescr>Terrain Flattening</shortDescr>
            <operatorName>Terrain-Flattening</operatorName>
            <targetProductNameSuffix>_TF</targetProductNameSuffix>
        </action>

        <action>
            <id>SlantRangeGroundRangeOp</id>
            <helpId>SRGROp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>geometry</parent>
            <text>Slant Range to Ground Range</text>
            <operatorName>SRGR</operatorName>
            <dialogTitle>Converts from slant range to ground range</dialogTitle>
            <targetProductNameSuffix>_GrdRg</targetProductNameSuffix>
            <placeAfter>DEMTools</placeAfter>
        </action>

        <action>
            <id>UpdateGeoRefOp</id>
            <helpId>UpdateGeoRefOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>rstbIcon</icon>
            <parent>geometry</parent>
            <text>Update Geo Reference</text>
            <operatorName>Update-Geo-Reference</operatorName>
            <dialogTitle>Update Geo Reference</dialogTitle>
            <shortDescr>Update Geo Reference</shortDescr>
            <targetProductNameSuffix>_GRU</targetProductNameSuffix>
            <placeAfter>ALOSDeskewingOp</placeAfter>
        </action>

        <!-- SAR Filtering -->

        <action>
            <id>SpeckleFiltering</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Speckle Filtering</text>
            <parent>Sar Processing</parent>
            <placeAfter>Calibration</placeAfter>
        </action>

        <action>
            <id>SpeckleFilterOp</id>
            <helpId>SpeckleFilterOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>SpeckleFiltering</parent>
            <text>Single Product Speckle Filter</text>
            <operatorName>Speckle-Filter</operatorName>
            <dialogTitle>Speckle filtering</dialogTitle>
            <shortDescr>Invoke the Speckle Filter operator on a single product</shortDescr>
            <targetProductNameSuffix>_Spk</targetProductNameSuffix>
        </action>

        <action>
            <id>MultiTemporalSpeckleFilterOp</id>
            <helpId>MultiTemporalSpeckleFilterOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>SpeckleFiltering</parent>
            <text>Multi-temporal Product Speckle Filter</text>
            <operatorName>Multi-Temporal-Speckle-Filter</operatorName>
            <shortDescr>Speckle filter a stack</shortDescr>
            <dialogTitle>Multi-temporal Speckle filtering</dialogTitle>
            <targetProductNameSuffix>_Spk</targetProductNameSuffix>
        </action>

        <!-- SAR Processing -->

        <action>
            <id>MultilookOp</id>
            <helpId>MultilookOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sar Processing</parent>
            <placeAfter>CoregistrationGroup</placeAfter>
            <text>Multilooking</text>
            <operatorName>Multilook</operatorName>
            <dialogTitle>Multilook</dialogTitle>
            <shortDescr>Multilook an image</shortDescr>
            <targetProductNameSuffix>_ML</targetProductNameSuffix>
        </action>

        <action>
            <id>SLCtoPRI</id>
            <helpId>SLCtoPRI</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>Sar Processing</parent>
            <placeAfter>CoregistrationGroup</placeAfter>
            <text>Complex to Detected GR</text>
            <shortDescr>Convert a SLC product to a detected ground range product</shortDescr>
            <dialogTitle>Complex to Detected Ground Range</dialogTitle>
            <graphFile>SLCtoPRIGraph.xml</graphFile>
        </action>

        <action>
            <id>ASARWSS</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>ASAR WSS</text>
            <parent>Sar Processing</parent>
            <placeAfter>SpeckleFiltering</placeAfter>
        </action>

        <action>
            <id>WSSDeburstOp</id>
            <helpId>WSSDeburstOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>ASARWSS</parent>
            <text>ASAR WSS Deburst</text>
            <operatorName>DeburstWSS</operatorName>
            <dialogTitle>ASAR WSS Deburst operator</dialogTitle>
            <shortDescr>Deburst an ASAR WSS product</shortDescr>
            <targetProductNameSuffix>_Deburst</targetProductNameSuffix>
        </action>

        <action>
            <id>WSSMosaicOp</id>
            <helpId>WSSMosaicOp</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>ASARWSS</parent>
            <text>WSS Deburst, Calibrate and Detect</text>
            <shortDescr>Graph to deburst and detect a WSS product. Run Mosaic afterwards to combine</shortDescr>
            <dialogTitle>WSS Deburst, Calibrate and Detect</dialogTitle>
            <graphFile>WSSDetectGraph.xml</graphFile>
            <placeAfter>WSSDeburstOp</placeAfter>
        </action>

        <!-- Wizards -->

        <action>
            <id>MosaicWizard</id>
            <class>org.esa.nest.dat.wizards.WizardAction</class>
            <wizardPanelClass>org.esa.nest.dat.wizards.MosaicWizard.MosaicWizardInstructPanel</wizardPanelClass>
            <parent>Wizards</parent>
            <text>Ortho-Mosaic Wizard</text>
            <dialogTitle>Ortho-Mosaic Wizard</dialogTitle>
            <shortDescr>Wizard for creating Mosaics</shortDescr>
            <description>Wizard for creating orthorectified Mosaics.</description>
            <helpId>MosaicWizard</helpId>
        </action>

        <action>
            <id>CoregisterWizard</id>
            <class>org.esa.nest.dat.wizards.WizardAction</class>
            <wizardPanelClass>org.esa.nest.dat.wizards.CoregisterWizard.CoregisterWizardInstructPanel</wizardPanelClass>
            <parent>Wizards</parent>
            <text>Coregistration Wizard</text>
            <dialogTitle>Coregistration Wizard</dialogTitle>
            <shortDescr>Wizard for Coregistering overlapping products</shortDescr>
            <description>Wizard for Coregistering overlapping products</description>
            <helpId>CoregisterWizard</helpId>
        </action>

    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>orthorectificationHelp</id>
            <path>doc/help/orthorectification.hs</path>
        </helpSet>
    </extension>
</module>