<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-diagnostics</symbolicName>
    <version>4.2</version>
    <name>BEAM Diagnostics Tools</name>
    
    <description>Set of tools supporting performance diagnostics.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    
    <changelog>
        <![CDATA[ ]]>
    </changelog>

    <dependency>
        <module>beam-visat</module>
    </dependency>

    <categories>System,Application,Processing</categories>

    <extension point="beam-visat:toolViews">
        <toolView>
            <id>org.esa.beam.visat.toolviews.diag.JaiMonitorToolView</id>
            <class>org.esa.beam.visat.toolviews.diag.JaiMonitorToolView</class>
            <title>Tile Cache Diagnostics</title>
            <tabTitle>Diagnostics</tabTitle>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>
    </extension>

</module>