<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-flhmci</symbolicName>
    <version>5.0</version>
    <name>MERIS FLH/MCI Processor</name>

    <description>
        The MERIS FLH/MCI Processor calculates the Fluorescence Line Height and
        the Maximum Chlorophyll Index by exploiting the height of a measurement over a specific baseline.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        <b>Changes in 5.0</b><br/>
        [BEAM-1494] FLH/MCI operator misses parameter description<br/>
        [BEAM-1528] FLH/MCI operator does not set valid mask of output bands<br/>
        ]]>
    </changelog>


    <categories>Application,Processor,MERIS,AVHRR</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicWater</parent>
            <id>flhMciScientificTool</id>
            <text>FLH/MCI Processor...</text>
            <class>org.esa.beam.processor.flh_mci.visat.FlhMciAction</class>
            <shortDescr>Generates florescence line height (FLH) / maximum chlorophyll index (MCI) from spectral bands.</shortDescr>
            <mnemonic>F</mnemonic>
            <helpId>flhMciScientificTool</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/flhmci.hs</path>
        </helpSet>
    </extension>

</module>
