<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>snap-reader-tests</symbolicName>
    <version>0.5</version>
    <name>SNAP Product Reader Integration Tests</name>

    <description>
        Creates and copies template JSON code to the clipboard for further use in the SNAP reader acceptance tests.
    </description>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>

    <extension point="snap-ui:actions">

        <action>
            <id>createExpectedJsonCode</id>
            <class>org.esa.beam.visat.actions.CreateExpectedJsonCodeCommand</class>
            <text>Copy Expected JSON Code to Clipboard</text>
            <shortDescr>Creates and copies template JSON code to the clipboard for further use in the SNAP reader acceptance tests.</shortDescr>
            <parent>exportOther</parent>
            <context>product</context>
        </action>
    </extension>

</module>