<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-reader-tests</symbolicName>
    <version>5.0</version>
    <name>BEAM Reader Acceptance Tests</name>

    <description>
        Creates and copies template Json code to the clipboard for further use in the BEAM reader acceptance tests.
    </description>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <extension point="beam-ui:actions">

        <action>
            <id>createExpectedJsonCode</id>
            <class>org.esa.beam.visat.actions.CreateExpectedJsonCodeCommand</class>
            <text>Copy Expected JSON Code to Clipboard</text>
            <shortDescr>Copies expected JSON code to the clipboard</shortDescr>
            <description>Copies expected JSON code to the clipboard.</description>
            <parent>exportOther</parent>
            <context>product</context>
        </action>
    </extension>

</module>