<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-netcdf4-reader</symbolicName>
    <version>1.0</version>
    <name>NetCDF Product Reader and Writer</name>
    <description>
        A product reader and writer for NetCDF files. It supports metadata profiles for CF, BEAM, HDF-EOS, ODESA.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>lib-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,NetCDF,HDF,CF,EOS</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.dataio.netcdf4.convention.ProfileSpi</serviceProvider>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <id>importNetcdf4SupportedProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <text>Import NetCDF4 supported File...</text>
            <formatName>NetCDF4_supported</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>H</mnemonic>
            <shortDescr>Import a NetCDF4 supported file or file subset.</shortDescr>
            <description>Import a NetCDF4 supported file or file subset.</description>
        </action>
        <action>
            <id>exportNetcdf4SupportedBeamFormat</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <text>Export NetCDF4 supported BEAM format...</text>
            <formatName>NcBEAM</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in NetCDF4 supported BEAM format</shortDescr>
            <description>Writes a product in NetCDF4 supported BEAM format</description>
        </action>
    </extension>

</module>
