<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-equalization</symbolicName>
    <version>1.0</version>
    <name>MERIS L1b Equalization</name>

    <description>
        <![CDATA[
        The BEAM MERIS Equalization aims to remove detector-to-detector systematic radiometric
        differences in MERIS L1b data products.
         <p>Documentation:</p>
        <ul>
            <li><a href="http://org.esa.beam.s3.amazonaws.com/docs/beam/beam-meris-equalization/Bouvet_TN_MERIS_equalization_2nd_reprocessing_v1.3.pdf">Bouvet M., Ramoino F. (2010): Equalization of MERIS L1b products from the 2nd reprocessing, ESA TN TEC-EEP/2009.521/MB</a></li>
        </ul>
        ]]>
    </description>

    <changelog>
        <![CDATA[]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-smile</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Processing,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisEqualization</id>
            <helpId>merisEqualization</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <parent>tools</parent>
            <text>Equalization (MERIS)...</text>
            <mnemonic>E</mnemonic>
            <operatorName>Equalize</operatorName>
            <dialogTitle>MERIS L1b Equalization</dialogTitle>
            <targetProductNameSuffix>_Equalized</targetProductNameSuffix>
        </action>
        <!--<action>-->
            <!--<id>merisSmile</id>-->
            <!--<helpId>merisSmile</helpId>-->
            <!--<class>org.esa.beam.visat.actions.DefaultOperatorAction</class>-->
            <!--<parent>tools</parent>-->
            <!--<text>NEW SMILE correction (MERIS)...</text>-->
            <!--<mnemonic>S</mnemonic>-->
            <!--<operatorName>SmileCorr</operatorName>-->
            <!--<dialogTitle>MERIS L1b SMILE Correction</dialogTitle>-->
            <!--<targetProductNameSuffix>_smile</targetProductNameSuffix>-->
        <!--</action>-->
    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/equalization.hs</path>
        </helpSet>
    </extension>

</module>
