<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-op-insar</symbolicName>
    <version>1.1.0</version>
    <name>S1TBX InSAR Tools</name>
    <description>S1TBX InSAR Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-envisat-reader</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>s1tbx-dem</module>
    </dependency>
    <dependency>
        <module>jlinda-core</module>
    </dependency>

</module>