<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-ocean-tools</symbolicName>
    <version>5.0</version>
    <name>NEST Ocean Tools</name>
    <description>NEST Ocean Tools</description>
	
    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>

    <dependency>
      <module>nest-dat</module>
    </dependency>
    <dependency>
      <module>nest-reader-dem</module>
    </dependency>
    <dependency>
      <module>nest-graph-builder</module>
    </dependency>
    <dependency>
      <module>nest-reader-dem</module>
    </dependency>

    <categories>Processing</categories>


    <extension point="beam-ui:layerSources">
        <layerSource>
            <id>object-detection-layer-source</id>
            <name>Object Detection Results</name>
            <description>Shows detected objects</description>
            <class>org.esa.nest.dat.layersrc.ObjectDetectionLayerSource</class>
        </layerSource>
        <layerSource>
            <id>wind-field-estimation-layer-source</id>
            <name>Wind Field Estimation Results</name>
            <description>Shows wind field</description>
            <class>org.esa.nest.dat.layersrc.WindFieldEstimationLayerSource</class>
        </layerSource>
    </extension>

    <extension point="beam-ui:actions">

        <action>
	        <id>createLandMaskOp</id>
	        <helpId>CreateLandMask</helpId>
	        <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>oceanTools</parent>
	        <text>Create Land/Sea Mask</text>
            <shortDescr>Create a Land/Sea Mask</shortDescr>
            <dialogTitle>Create a Land/Sea Mask</dialogTitle>
            <operatorName>Create-LandMask</operatorName>
            <targetProductNameSuffix>_msk</targetProductNameSuffix>
        </action>

         <action>
	        <id>ObjectDetection</id>
	        <helpId>ObjectDetection</helpId>
	        <class>org.esa.nest.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>oceanTools</parent>
	        <text>Object Detection</text>
            <shortDescr>Ocean Object Detection</shortDescr>
	        <dialogTitle>Ocean Object Detection</dialogTitle>
            <graphFile>ShipDetectionGraph.xml</graphFile>
            <targetProductNameSuffix>_obj</targetProductNameSuffix>               
        </action>

        <action>
	        <id>OilSpillDetectionOp</id>
	        <helpId>OilSpillDetection</helpId>
	        <class>org.esa.nest.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>oceanTools</parent>
	        <text>Oil Spill Detection</text>
            <shortDescr>Oil Spill Detection</shortDescr>
	        <dialogTitle>Oil Spill Detection</dialogTitle>
            <graphFile>OilSpillDetectionGraph.xml</graphFile>
            <targetProductNameSuffix>_oil</targetProductNameSuffix>
            <placeAfter>ObjectDetection</placeAfter>
        </action>

        <action>
	        <id>WindFieldEstimation</id>
	        <helpId>WindFieldEstimation</helpId>
	        <class>org.esa.nest.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>oceanTools</parent>
	        <text>Wind Field Estimation</text>
            <shortDescr>Wind Field Estimation</shortDescr>
	        <dialogTitle>Wind Field Estimation</dialogTitle>
            <graphFile>WindFieldEstimationGraph.xml</graphFile>
            <targetProductNameSuffix>_wind</targetProductNameSuffix>
            <placeAfter>OilSpillDetectionOp</placeAfter>
        </action>

    </extension>

	<extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
			<id>oceanToolsHelp</id>
            <path>doc/help/ocean-tools.hs</path>
        </helpSet>
    </extension>
</module>