<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-binning</symbolicName>
    <version>2.1.2</version>
    <name>Level-3 Binning Processor</name>

    <description>
        The Level-3 Binning Processor performs a spatial and temporal aggregation of a number of input (Level-2)
        products
        using the NASA SeaDAS binning scheme.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <changelog>
        <![CDATA[
        Changes in 2.1.2:<br\>
        Deprecated whole module and removed from VISAT<br/>
        Changes in 2.1.1:<br\>
        Adapted to new Maven-architecture<br/>
        Changes in 2.1:<br\>
        [BEAM-1103] Product outside of target area breaks processing of L3 binning<br\>
        Changes in 2.0.2:<br\>
        [BEAM-1051] A corrupt product breaks the binning process<br\>
        Changes in 2.0.101:<br\>
        [BEAM-957] "Search" tab missing VISAT help<br\>
        Changes in 2.0.100:<br\>
        [BEAM-808] L3 processor doesn't set no-data value of output bands<br\>
        [BEAM-806] Default aggregation algorithm should be "Arithmetic Mean" in L3 processor<br\>
        [BEAM-805] Valid pixel expression field in L3 processor GUI should be an editable field<br\>
        [BEAM-757] Layout of help pages is not uniform<br\>
        ]]>
    </changelog>


    <categories>Application,Processor,Geometry,VISAT,Level-3,Envisat,MERIS,AATSR,AVHRR,CHRIS</categories>

</module>
