<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-reader</symbolicName>
    <version>1.5.6</version>
    <name>NASA OBPG Ocean Color Product Reader</name>
    <description>A reader for Ocean Color Data Products supported the NASA Ocean Biology Processing Group</description>

    <vendor>NASA Ocean Biogeochemical Processing Group</vendor>
    <contactAddress>NASA GSFC, Greenbelt, Maryland, MD, USA</contactAddress>
    <copyright>(C) 2014 by NASA OBPG</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>NASA GSFC</funding>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,OBPG,SeaDAS,HDF,VISAT,NASA</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importSeadasL1Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L1</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L1 (OCTS, CZCS, SeaWiFS)</text>
            <shortDescr>Import a SeaDAS-supported Level 1 (OCTS, CZCS, SeaWiFS) data product.</shortDescr>
            <helpId>importSeadasL1Product</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importSeadasL2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L2</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L2 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.)</text>
            <shortDescr>Import a SeaDAS-supported Level 2 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.) data product.</shortDescr>
            <helpId>importSeadasL2Product</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importSeadasL3Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L3</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L3 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.)</text>
            <shortDescr>Import a SeaDAS-supported Level 3 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.) data product.</shortDescr>
            <helpId>importSeadasL3Product</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importAquariusProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>Aquarius</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Aquarius (L1A, L2, L3)</text>
            <shortDescr>Import an Aquarius (L1A, L2, L3) data product.</shortDescr>
            <helpId>importAquariusProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importHICOL1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>HICO-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>HICO L1B</text>
            <shortDescr>Import an HICO L1B data product.</shortDescr>
            <helpId>importHICOL1BProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importModisL1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>MODIS-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>MODIS L1B</text>
            <shortDescr>Import a MODIS Level 1B data product.</shortDescr>
            <helpId>importModisL1BProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importOCM2L1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OCM2-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>OCM2 L1B</text>
            <shortDescr>Import an OCM2 L1B data product.</shortDescr>
            <helpId>importOCM2L1BProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importViirsProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>VIIRS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>VIIRS (SDR, EDR)</text>
            <shortDescr>Import a VIIRS (SDR, EDR) data product.</shortDescr>
            <helpId>importViirsProduct</helpId>
            <parent>importMultispectral</parent>
        </action>
        <action>
            <id>importSeadasBrowseProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-Browse</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS Browse (L1, L2)</text>
            <shortDescr>Import a SeaDAS Browse (L1, L2) data product.</shortDescr>
            <helpId>importSeadasBrowseProduct</helpId>
            <parent>importMultispectral</parent>
        </action>

        <action>
            <id>importSeabass</id>
            <class>gov.nasa.gsfc.seadas.dataio.ImportSeabassAction</class>
            <text>SeaBASS Data</text>
            <shortDescr>Import SeaBASS Data.</shortDescr>
            <parent>importVectorData</parent>
            <helpId>importSeabass</helpId>
        </action>

    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>NASA L1 True Color</name>
            <red>Red</red>
            <green>Green</green>
            <blue>Blue</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA SeaWiFS L2</name>
            <red>Rrs_670</red>
            <green>Rrs_510</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA MODIS L2</name>
            <red>Rrs_667</red>
            <green>Rrs_531</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OCTS/CZCS L2</name>
            <red>Rrs_670</red>
            <green>Rrs_520</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA SeaWiFS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_510 + 0.4*nLw_555)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA MODIS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_531 + 0.4*nLw_551)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OCTS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_565)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA CZCS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_550)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/importNasaObpgProduct.hs</path>
        </helpSet>
    </extension>

</module>
