<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>seadas-reader</symbolicName>
    <version>1.5.5</version>
    <name>NASA OBPG Ocean Color Product Reader</name>
    <description>A reader for Ocean Color Data Products supported the NASA Ocean Biology Processing Group</description>

    <vendor>NASA Ocean Biogeochemical Processing Group</vendor>
    <contactAddress>NASA GSFC, Greenbelt, Maryland, MD, USA</contactAddress>
    <copyright>(C) 2014 by NASA OBPG</copyright>
    <url>http://oceancolor.gsfc.nasa.gov/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>NASA GSFC</funding>

    <changelog>
        <![CDATA[
        Changes in 1.5.5:<br>
        Improved performance of getDecodeQualification()
        Changes in 1.5.1:<br>
        Fixed minor bug in scan line time assignment that affected L2 files with both Start Time and time_coverage_start attributes</br>
        Minor modification to SMIReader to handle new netCDF formatted files</br>
        Changes in 1.5:<br/>
        Modified to support new netCDF format L2 files<br/>
        Added support for *most* ancillary file formats distributed by OBPG<br/>
        Changes in 1.4.3:<br/>
        Added support for GOCI since the updated java library for netCDF fails to open the files as HDF5EOS due to
        an error in the file format
        Added support for reading tie-point bands in MODIS L1B (thanks to Tom Block for the modifications)
        Changes in 1.4.2:<br/>
        Improved flagging of invalid geolocation
        CZCS - corrected issues with geolocation
        HICO - corrected issues with loading several geometry fields
             - corrected reading of flag array
        Changes in 1.4:<br/>
        Include support for OCM2 and HICO L1B files
        Improved support for VIIRS products
        Added support for 24bit L1BRS files (Todo: display bands as TC image)
        Implemented a bowtie correction for affected products (MODIS, VIIRS)
        Include a vector import for SeaBASS formatted files
        Changes in 1.3:<br/>
        Module development taken over by NASA GSFC, Ocean Biogeochemical Processing Group.<br/>
        Readers added for VIIRS, Aquarius, MODIS L1B and SeaDAS L1, L2, L3 and browse products.<br/>
        Changes in 1.2:<br/>
        [BEAM-1149] - OBPG reader causes Exception if used with GPF<br/>
        [BEAM-1087] - OBPG child products can not be read<br/>
        [BEAM-1085] - Support reprocessed data by NASA OBPG<br/>
        Changes in 1.1:<br/>
        [BEAM-1080] The valid pixel expression of the OBPG L2 products does not conform to product specification<br/>
        [BEAM-1079] Set product start and stop time from metadata<br/>
        [BEAM-1078] OBPG reader should use the pure Java netcdf library<br/>
        Changes in 1.0.2:<br/>
        [BEAM-922] Wrong Exception type thrown on format errors<br/>
        Changes in 1.0.101:<br/>
        [BEAM-855] Reader plugin does not close SD interface<br/>
        [BEAM-840] MODIS L2 "*.x.hdf" read error<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,OBPG,SeaDAS,HDF,VISAT,NASA</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importSeadasL1Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L1</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L1 (OCTS, CZCS, SeaWiFS)</text>
            <description>Import a SeaDAS-supported Level 1 (OCTS, CZCS, SeaWiFS) data product.
            </description>
            <helpId>importSeadasL1Product</helpId>
        </action>
        <action>
            <id>importSeadasL2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L2</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L2 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.)</text>
            <description>Import a SeaDAS-supported Level 2 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.) data product.
            </description>
            <helpId>importSeadasL2Product</helpId>
        </action>
        <action>
            <id>importSeadasL3Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-L3</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS L3 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.)</text>
            <description>Import a SeaDAS-supported Level 3 (CZCS, OCTS, SeaWiFS, MODIS, VIIRS, etc.) data product.
            </description>
            <helpId>importSeadasL3Product</helpId>
        </action>
        <action>
            <id>importAquariusProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>Aquarius</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Aquarius (L1A, L2, L3)</text>
            <description>Import an Aquarius (L1A, L2, L3) data product.</description>
            <helpId>importAquariusProduct</helpId>
        </action>
        <action>
            <id>importHICOL1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>HICO-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>HICO L1B</text>
            <description>Import an HICO L1B data product.</description>
            <helpId>importHICOL1BProduct</helpId>
        </action>
        <action>
            <id>importModisL1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>MODIS-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>MODIS L1B</text>
            <description>Import a MODIS Level 1B data product.</description>
            <helpId>importModisL1BProduct</helpId>
        </action>
        <action>
            <id>importOCM2L1BProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>OCM2-L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>OCM2 L1B</text>
            <description>Import an OCM2 L1B data product.</description>
            <helpId>importOCM2L1BProduct</helpId>
        </action>
        <action>
            <id>importViirsProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>VIIRS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>VIIRS (SDR, EDR)</text>
            <description>Import a VIIRS (SDR, EDR) data product.</description>
            <helpId>importViirsProduct</helpId>
        </action>
        <action>
            <id>importSeadasBrowseProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SeaDAS-Browse</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>SeaDAS Browse (L1, L2)</text>
            <description>Import a SeaDAS Browse (L1, L2) data product.</description>
            <helpId>importSeadasBrowseProduct</helpId>
        </action>

        <action>
            <id>importSeabass</id>
            <class>gov.nasa.gsfc.seadas.dataio.ImportSeabassAction</class>
            <text>SeaBASS Data</text>
            <parent>importVectorData</parent>
            <helpId>importSeabass</helpId>
        </action>

    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>NASA L1 True Color</name>
            <red>Red</red>
            <green>Green</green>
            <blue>Blue</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA SeaWiFS L2</name>
            <red>Rrs_670</red>
            <green>Rrs_510</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA MODIS L2</name>
            <red>Rrs_667</red>
            <green>Rrs_531</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OCTS/CZCS L2</name>
            <red>Rrs_670</red>
            <green>Rrs_520</green>
            <blue>Rrs_443</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA SeaWiFS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_510 + 0.4*nLw_555)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA MODIS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_531 + 0.4*nLw_551)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA OCTS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_565)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
        <rgbProfile>
            <name>NASA CZCS L2 Tristimulus</name>
            <red>log(1 + 0.2*nLw_443 + 1.1*nLw_670)</red>
            <green>log(1 + 0.2*nLw_443 + 0.4*nLw_520 + 0.4*nLw_550)</green>
            <blue>log(1 + 1.85*nLw_443)</blue>
        </rgbProfile>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>seadas-help</parent>
            <path>doc/help/importNasaObpgProduct.hs</path>
        </helpSet>
    </extension>

</module>
