<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-gpf-std-ops</symbolicName>
    <version>4.7</version>
    <name>BEAM GPF Standard Operators</name>

    <description>The standard operators for processing.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2009 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

    <changelog>
        <![CDATA[
        <p>For 4.7:<br/>
            Initial release<br/>
        </p>]]>
    </changelog>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>System,Application,Processing</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>reprojectionAction</id>
            <class>org.esa.beam.gpf.operators.standard.reproject.ui.ReprojectionAction</class>
            <parent>tools</parent>
            <placeAfter>flipping</placeAfter>
            <placeBefore>orthorectificationAction</placeBefore>
            <text>Reprojection...</text>
            <shortDescr>Apply a reprojection.</shortDescr>
            <helpId>reprojectionAction</helpId>
        </action>
        <action>
            <id>orthorectificationAction</id>
            <class>org.esa.beam.gpf.operators.standard.reproject.ui.OrthorectificationAction</class>
            <parent>tools</parent>
            <placeAfter>reprojectionAction</placeAfter>
            <placeBefore>mosaicAction</placeBefore>
            <text>Orthorectification...</text>
            <shortDescr>Apply an orthorectification.</shortDescr>
            <helpId>orthorectificationAction</helpId>
        </action>
        <action>
            <id>mosaicAction</id>
            <class>org.esa.beam.gpf.operators.standard.mosaic.ui.MosaicAction</class>
            <parent>tools</parent>
            <placeAfter>orthorectificationAction</placeAfter>
            <text>Mosaic...</text>
            <shortDescr>Create a mosaic of multiple products.</shortDescr>
            <helpId>mosaicAction</helpId>
        </action>
    </extension>
</module>