<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-python</symbolicName>
    <version>5.0.5-SNAPSHOT</version>
    <name>BEAM Python Interface</name>
    <packaging>dir</packaging>

    <description>
        This modules allows for integrating new data processors written entirely in Python 2.7 or 3.3+.
        As it uses CPython, developers can use any Python native extensions such as numpy, scipy, etc.
        The bundled README.md file provides the instructions how to setup BEAM for Python development.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                <p>Changes in 5.0.4<br/>
                [BEAM-1704] Import of beampy fails on Python 2.7 if beampy.ini is used<br/>
                [BEAM-1703] BEAM Python operators might fail in case of multiple tiles<br/>
                Extended README.md on how to use the Java API<br/>
                Added new example how to write a PNG image from a product's band<br/>
                Updated to use jpy 0.7.5 (https://github.com/bcdev/jpy/issues/43)<br/>
                <p>Changes in 5.0.3<br/>
                [BEAM-1699] JAI not always initialised propertly in beampy clients<br/>
                <p>Changes in 5.0.2<br/>
                [BEAM-1691] BEAM Python tests require specific test product<br/>
                [BEAM-1690] BEAM Python examples often generate zero-valued output<br/>
                [BEAM-1686] BEAM Python setup fails without setuptools installed<br/>
                <p>Changes in 5.0.1<br/>
                [BEAM-1671] beampy: provide python 2.x support<br/>
                </p>
                ]]>
    </changelog>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    <dependency>
        <lib>lib/jpy.jar</lib>
    </dependency>


    <categories>Processor,System</categories>

</module>