<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-ui</symbolicName>
    <version>4.2-SNAPSHOT</version>
    <name>BEAM User Interface Library</name>
    <activator>org.esa.beam.BeamUiActivator</activator>


    <description>This module provides user interface components used e.g. by VISAT.</description>
    <changelog>
        <![CDATA[
        Changes in 4.2<br>
        [BEAM-694] Bandarithmetic gives acces to latitude and longitude using the provided geocoding<br>
        [BEAM-712] Processors produce visat.exe zombies<br>
        <br>Changes in 4.0.1<br>
        [BEAM-622] Use mouse wheel for zooming<br>
        [BEAM-614] Not possible to re-select item in Arithmetic Expression Editor<br>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>ceres-ui</module>
    </dependency>
    <dependency>
        <module>ceres-binding</module>
    </dependency>

    <categories>System,Library</categories>

    <extensionPoint id="helpSets"/>

</module>