<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-mosaic</symbolicName>
    <version>2.3.1</version>
    <name>Level-3 Mosaic Processor</name>


    <description>Provides an alternative level 3 algorithm that is able to create Moire-free images.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in 2.3.1<br/>
        Adapted to new Maven-architecture<br/>
        <p>Changes in 2.3<br/>
        [BEAM-1036] Ensure temporarily loaded products are disposed in processors<br/>
        [BEAM-1011] Worl Map Tool View to utilise new layer capabilities<br/>
        </p>
        <p>Changes in 2.2.3<br/>
        [BEAM-1020] Exception during GUI initialization of Mosaic processor<br/>
        </p>
        <p>Changes in 2.2.2<br/>
        [BEAM-981] Valid-pixel expression removed when running 'mapproj' tool<br/>
        [BEAM-980] Cannot set output size in 'mapproj' tool<br/>
        </p>
        <p>Changes in 2.2.101<br/>
        [BEAM-957] "Search" tab missing VISAT help<br/>
        </p>
        <p>Changes in 2.2.100<br/>
        [BEAM-757] Layout of help pages is not uniform<br/>
        [BEAM-720] Equal names for Mosaic valid-pixel conditions and output variables suggested<br/>
        [BEAM-721] Saving a Mosaic processing request fails without error message<br/>
        [BEAM-722] Do not use no-data value for num_pixels band<br/>
        [BEAM-707] Mosaic processor fails with tie-point grids in valid-expression<br/>
        [BEAM-667] Use UTM Automatic in mapproj tool<br/>
        [BEAM-522] Map-projection and orthorectification should also transform tie-point grids<br/>
        </p>
        ]]>
    </changelog>

    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-processing</module>
    </dependency>

    <categories>Application,Processor,Geometry,Level-3,MERIS,AVHRR,ATSR,Envisat,ERS,ASAR,VISAT</categories>

<!--
    <extension point="beam-ui:actions">
        <action>
            <id>MosaicProcessorPlugIn</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>org.esa.beam.processor.mosaic.MosaicProcessor</processor>
            <text>Mosaic Processor....</text>
            <shortDescr>Invoke the Mosaic Processor.</shortDescr>
            <mnemonic>c</mnemonic>
            <parent>tools</parent>
            <helpId>mosaicScientificTool</helpId>
            <placeAfter>flhMciScientificTool</placeAfter>
        </action>
    </extension>
-->


<!--
    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/mosaic.hs</path>
        </helpSet>
    </extension>
-->

</module>