<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>beam-help</symbolicName>
    <name>BEAM Help</name>
    <version>5.0.1</version>
    <packaging>dir</packaging>


    <description>Provides the software user manual.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <b>Changes in 5.0.1</b><br/>
        [BEAM-1678] What's New page is not updated for 5.0<br/>
        <b>Changes in 5.0</b><br/>
        [BEAM-1643] Improve 'Accuracy' option in Statistics tool window<br/>
        [BEAM-1547] BEAM Help documentation for "Define Subset" dialog has not been updated<br/>
        [BEAM-1550] Link in help to general.html does not work<br/>
        ]]>
    </changelog>

    <categories>System,Help</categories>

    <dependency>
        <module>beam-ui</module>
    </dependency>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <id>beam-help</id>
            <path>doc/help/beam.hs</path>
        </helpSet>
    </extension>

</module>