<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-op-sar-tools</symbolicName>
    <version>6.0-SNAPSHOT</version>
    <name>NEST SAR Tools</name>
    <description>NEST SAR Tools</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>nest-graph-builder</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>
    <dependency>
        <module>nest-dat</module>
    </dependency>
    <dependency>
        <module>jlinda-core</module>
    </dependency>

    <categories>Processing</categories>

    <extension point="beam-ui:actions">

        <action>
            <id>Resampling</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Resampling</text>
            <parent>tools</parent>
            <placeAfter>DatasetConversion</placeAfter>
        </action>

        <action>
            <id>OverSampleOp</id>
            <helpId>OverSampleOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Resampling</parent>
            <text>Oversample</text>
            <operatorName>Oversample</operatorName>
            <dialogTitle>Oversample an image</dialogTitle>
            <targetProductNameSuffix>_OvrS</targetProductNameSuffix>
        </action>

        <action>
            <id>UnderSampleOp</id>
            <helpId>UnderSampleOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Resampling</parent>
            <text>Undersample</text>
            <operatorName>Undersample</operatorName>
            <dialogTitle>Undersample an image</dialogTitle>
            <targetProductNameSuffix>_UndS</targetProductNameSuffix>
        </action>

        <action>
            <id>DatasetConversion</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Dataset Conversion</text>
            <parent>tools</parent>
            <placeAfter>createSubsetFromView</placeAfter>
        </action>

        <action>
            <id>ConvertDatatypeOp</id>
            <helpId>ConvertDatatypeOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>DatasetConversion</parent>
            <text>Convert Datatype</text>
            <operatorName>Convert-Datatype</operatorName>
            <dialogTitle>Change the datatype of the product</dialogTitle>
            <targetProductNameSuffix>_Cnv</targetProductNameSuffix>
        </action>

        <action>
            <id>AmplitudeToIntensityOp</id>
            <class>org.esa.nest.dat.AmplitudeToIntensityOpAction</class>
            <text>Amplitude to/from Intensity</text>
            <shortDescr>Change the data Amplitude to/from Intensity</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>AmplitudeToIntensityOp</helpId>
        </action>

        <action>
            <id>LinearTodBOp</id>
            <class>org.esa.nest.dat.LinearTodBOpAction</class>
            <text>Linear to/from dB</text>
            <shortDescr>Change the data Linear to/from dB</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>LinearTodBOp</helpId>
        </action>

        <action>
            <id>ScaleData</id>
            <class>org.esa.nest.dat.ScaleDataAction</class>
            <text>Scale Data</text>
            <shortDescr>Scale data using a virtual band</shortDescr>
            <parent>DatasetConversion</parent>
            <context>band</context>
            <helpId>ScaleData</helpId>
        </action>

        <action>
            <id>applyOrbitFile</id>
            <helpId>ApplyOrbitFileOp</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>tools</parent>
            <text>Apply Orbit File</text>
            <operatorName>Apply-Orbit-File</operatorName>
            <dialogTitle>Apply Orbit File to Product</dialogTitle>
            <targetProductNameSuffix>_Orb</targetProductNameSuffix>
            <placeBefore>Calibration</placeBefore>
        </action>

        <action>
            <id>GeoCorrectionOp1</id>
            <helpId>GeoCorrectionOp1</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>tools</parent>
            <text>Geo Correction 1</text>
            <operatorName>Geo-Correction-1</operatorName>
            <dialogTitle>Geo Correction 1</dialogTitle>
            <shortDescr>Geo Correction 1</shortDescr>
            <targetProductNameSuffix>_GeoCorr1</targetProductNameSuffix>
            <placeAfter>applyOrbitFile</placeAfter>
        </action>


        <action>
            <id>GeoCorrectionOp2</id>
            <helpId>GeoCorrectionOp2</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>tools</parent>
            <text>Geo Correction 2</text>
            <operatorName>Geo-Correction-2</operatorName>
            <dialogTitle>Geo Correction 2</dialogTitle>
            <shortDescr>Geo Correction 2</shortDescr>
            <targetProductNameSuffix>_GeoCorr2</targetProductNameSuffix>
            <placeAfter>GeoCorrectionOp1</placeAfter>
            <separatorAfter>true</separatorAfter>
        </action>

        <action>
            <id>replaceMetadata</id>
            <class>org.esa.nest.dat.ReplaceMetadataAction</class>
            <text>Replace Metadata</text>
            <shortDescr>Replace product metadata with that of another product</shortDescr>
            <description>Replace product metadata with that of another product</description>
            <parent>MetadataTools</parent>
            <context>metadataNode</context>
        </action>

        <action>
            <id>ImageFilterOp</id>
            <helpId>FilterOperator</helpId>
            <class>org.esa.nest.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>tools</parent>
            <text>Image Filtering</text>
            <operatorName>Image-Filter</operatorName>
            <dialogTitle>Image filtering</dialogTitle>
            <shortDescr>Apply an image filter</shortDescr>
            <targetProductNameSuffix>_Filt</targetProductNameSuffix>
        </action>

    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <id>sartoolsHelp</id>
            <path>doc/help/sartools.hs</path>
        </helpSet>
    </extension>
</module>
