<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-geotiff-writer</symbolicName>
    <version>1.1</version>
    <name>GeoTIFF Product Writer</name>

    <description>Enables BEAM to write data products as GeoTiff files.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[<p>From 1.0 to 1.1:<br/>
            [BEAM-648] GeoTIFF parameters written in wrong order<br/>
            [BEAM-649] GeoTIFF writes FLOAT32 bands only<br/>
            [BEAM-666] GeoTIFF writer ignores orientation angle<br/>
        </p>]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Writer,GeoTIFF</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>exportGeoTIFFProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>GEOTIFF</formatName>
            <text>Export GeoTIFF Product...</text>
            <mnemonic>G</mnemonic>
            <shortDescr>Export product to GeoTIFF format.</shortDescr>
            <description>Export the selected product to GeoTIFF format.</description>
            <helpId>exportGeoTIFFProduct</helpId>
        </action>
    </extension>

</module>