<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>snap-cluster-analysis</symbolicName>
    <version>0.5</version>
    <name>SNAP Cluster Analysis</name>

    <description>
        Cluster analysis.
    </description>

    <changelog>
        <![CDATA[

        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>

    <categories>VISAT,Processing,Image Analysis</categories>

    <extension point="snap-ui:actions">
        <action>
            <parent>processing.imageAnalysis</parent>
            <id>emClusterAnalysis</id>
            <text>EM Cluster Analysis...</text>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <mnemonic>C</mnemonic>
            <operatorName>EMClusterAnalysis</operatorName>
            <dialogTitle>EM Cluster Analysis</dialogTitle>
            <targetProductNameSuffix>_em</targetProductNameSuffix>
            <helpId>clusterAnalysisEM</helpId>
        </action>
        <action>
            <parent>processing.imageAnalysis</parent>
            <id>kmeansClusterAnalysis</id>
            <text>K-Means Cluster Analysis...</text>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <mnemonic>C</mnemonic>
            <operatorName>KMeansClusterAnalysis</operatorName>
            <dialogTitle>K-Means Cluster Analysis</dialogTitle>
            <targetProductNameSuffix>_kmeans</targetProductNameSuffix>
            <helpId>clusterAnalysisKMeans</helpId>
        </action>
        <action>
            <parent>processing.imageAnalysis</parent>
            <id>principleComponentAnalysis</id>
            <text>Principle Component Analysis...</text>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>PCA</operatorName>
            <dialogTitle>Principle Component Analysis</dialogTitle>
            <targetProductNameSuffix>_pca</targetProductNameSuffix>
            <helpId>principleComponentAnalysis</helpId>
        </action>
    </extension>

    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-beam-help</parent>
            <path>doc/help/clusteranalysis.hs</path>
        </helpSet>
    </extension>

</module>