<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>nest-world-wind-view</symbolicName>
    <version>6.0-SNAPSHOT</version>
    <name>NEST World Wind View</name>

    <description>
        3D World Wind View
    </description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2013 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca/nest</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
	<funding>European Space Agency</funding>
	
    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
    </dependency>
    <dependency>
        <module>nest-core</module>
    </dependency>

    <extension point="beam-ui:toolViews">
        <toolView>
            <id>org.esa.nest.dat.toolviews.nestwwview.NestWWToolView</id>
            <class>org.esa.nest.dat.toolviews.nestwwview.NestWWToolView</class>
            <title>3D View</title>
            <tabTitle>3D View</tabTitle>
            <mnemonic>3</mnemonic>
            <accelerator>ctrl alt 3</accelerator>
            <description>Display product in a 3D view.</description>
            <smallIcon>/org/esa/nest/icons/earth.gif</smallIcon>
            <largeIcon>/org/esa/nest/icons/earth.gif</largeIcon>
            <helpId>show3DMapWnd</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.nest.dat.toolviews.nestwwview.FlatEarthWWToolView</id>
            <class>org.esa.nest.dat.toolviews.nestwwview.FlatEarthWWToolView</class>
            <title>World Map</title>
            <tabTitle>World Map</tabTitle>
            <description>Display product in a Flat Earth view.</description>
            <smallIcon>/org/esa/beam/resources/images/icons/WorldMap16.gif</smallIcon>
            <largeIcon>/org/esa/beam/resources/images/icons/WorldMap24.gif</largeIcon>
            <helpId>show3DMapWnd</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

    </extension>

</module>