<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-gpf</symbolicName>
    <version>4.2-SNAPSHOT</version>
    <name>BEAM Graph Processing Framework (GPF)</name>
    
    <changelog>
        <![CDATA[<p>From 4.1 to 4.2:<br/>
            [BEAM-762] Operator within VISAT don't warn, when file already exist<br/>
            [BEAM-760] The target product selector throws NullPointerException<br/>
            [BEAM-773] gpt shall no longer log warnings to console<br/>
            [BEAM-776] Provide TileIterator to loop over all tile pixels<br/>
            [BEAM-790] Inherited parameter annotations of GPF operators ignored<br/>
            [BEAM-792] Control setting of operator parameter default values<br/>
        </p>]]>
    </changelog>

    <dependency>
        <module>ceres-binding</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
        <optional>true</optional>
    </dependency>

    <categories>System,Application,Processing</categories>

    <extension point="ceres-core:applications">
        <application id="GraphProcessor" class="org.esa.beam.framework.gpf.graph.GraphProcessorMain"/>
    </extension>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

</module>