<!--
  ~ Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option)
  ~ any later version.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along
  ~ with this program; if not, see http://www.gnu.org/licenses/
  -->

<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-gpf</symbolicName>
    <version>5.0.1</version>
    <name>BEAM Graph Processing Framework (GPF)</name>

    <description>The basic framework for processing using Operators and the GPT.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
         <b>Changes in 5.0.1</b><br/>
            Only compute virtual band by the WriteOp if shouldWrite property is set<br/>
            Harmonisation with NEST: Operator registry now checks for conflicting operator aliases<br/>
         <b>Changes in 5.0</b><br/>
            [BEAM-1648] Add processing time to metadata<br/>
            [BEAM-1598] GPF operators shall be able to prevent GPT automatic writing<br/>
            [BEAM-1597] GPT writes product although Operator implements Output<br/>
            [BEAM-1589] The path to the parameter file by save and load parameters will be not stored<br/>
            [BEAM-1460] Component enablement in Radiometry Processor Dialog is wrong<br/>
            [BEAM-1507] mosaic operator aborts with NullPointer exception when one of input products has no geo-coding<br/>
            [BEAM-1418] The BandMaths Operator cannot handle "division by 0" cases<br/>
            [BEAM-1518] BandMaths operator does not copy time information to its target product<br/>
            [BEAM-1508] No progress indication in VISAT when writing files<br/>
            [BEAM-1582] Too many tile (stack) computations using GPT with single operator<br/>
            [BEAM-1562] Add version and name of module in metadata<br/>
            [BEAM-1557] Cannot configure SubsetOp to not copy metadata<br/>
            [BEAM-1551] Improve GPT logging output<br/>
            [BEAM-1092] Time information gets lost when reprojecting.<br/>
        ]]>
    </changelog>

    <dependency>
        <module>ceres-binding</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
        <optional>true</optional>
    </dependency>

    <categories>System,Application,Processing</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/gpf.hs</path>
        </helpSet>
    </extension>

</module>
