<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-smac</symbolicName>
    <version>5.0</version>
    <name>MERIS SMAC Atmospheric Correction</name>

    <description>
        The SMAC Processor performs the Simplified Method for Atmospheric Correction on MERIS and (A)ATSR L1b products.
    </description>
    <changelog>
        <![CDATA[
           <b>Changes in 5.0</b><br/>
           [BEAM-784] - Help should mention that SMAC is intended for land<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR,Atmosphere</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicLand</parent>
            <id>smacTool</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <text>MERIS/(A)ATSR SMAC Atmospheric Correction...</text>
            <operatorName>SmacOp</operatorName>
            <dialogTitle>MERIS/(A)ATSR SMAC Atmospheric Correction</dialogTitle>
            <shortDescr>Perform the Simplified Method for Atmospheric Correction on MERIS and (A)ATSR L1b products.</shortDescr>
            <targetProductNameSuffix>_smac</targetProductNameSuffix>
            <helpId>smacScientificTool</helpId>
        </action>
    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/smac.hs</path>
        </helpSet>
    </extension>

</module>