<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s3tbx-meris-smac</symbolicName>
    <version>0.5</version>
    <name>MERIS SMAC Atmospheric Correction</name>

    <description>
        The SMAC Processor performs the Simplified Method for Atmospheric Correction on MERIS and (A)ATSR L1b products.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>snap-envisat-reader</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>snap-gpf</module>
    </dependency>

    <categories>Application,Processor,MERIS,AATSR,Atmosphere</categories>

    <extension point="snap-ui:actions">
        <action>
            <parent>processing.thematicLand</parent>
            <id>smacTool</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <text>MERIS/(A)ATSR SMAC Atmospheric Correction...</text>
            <operatorName>SmacOp</operatorName>
            <dialogTitle>MERIS/(A)ATSR SMAC Atmospheric Correction</dialogTitle>
            <shortDescr>Perform the Simplified Method for Atmospheric Correction on MERIS and (A)ATSR L1b products.</shortDescr>
            <targetProductNameSuffix>_smac</targetProductNameSuffix>
            <helpId>smacScientificTool</helpId>
        </action>
    </extension>


    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-beam-help</parent>
            <path>doc/help/smac.hs</path>
        </helpSet>
    </extension>

</module>