<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-spot-vgt-reader</symbolicName>
    <version>5.0</version>
    <name>BEAM SPOT VGT Product Reader</name>

    <description>Enables BEAM to read SPOT VGT data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                <b>Changes in 5.0</b><br/>
                [BEAM-1504] - Update NetCDF library to latest version<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>


    <categories>Reader,CHRIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importSpotVgtProduct</id>
            <helpId>importSpotVgtProduct</helpId>
            <formatName>SPOT-VGT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>M</mnemonic>
            <shortDescr>Import a SPOT VGT data product or product subset.</shortDescr>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>SPOT VGT RGB-1</name>
            <red>MIR</red>
            <green>0.5 * (B2 + B3)</green>
            <blue>B0 + 0.1 * MIR</blue>
        </rgbProfile>
        <rgbProfile>
            <name>SPOT VGT RGB-2</name>
            <red>B3</red>
            <green>0.5 * (B2 + B3)</green>
            <blue>B0 + 0.1 * B3</blue>
        </rgbProfile>
    </extension>

</module>
