<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-spot-vgt-reader</symbolicName>
    <version>1.2.3</version>
    <name>BEAM SPOT VGT Product Reader</name>

    <description>Enables BEAM to read SPOT VGT data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                Changes in 1.2.3:<br>
                [BEAM-1427] Histogram for SPOT SM Band not correct<br/>
                Changes in 1.2.2:<br>
                [BEAM-1413] Accuracy problem in geocoding fixed<br/>
                Changes in 1.2.1:<br>
                Adapted to new Maven-architecture<br/>
                Changes in 1.2:<br>
                [BEAM-1392] SPOT-VGT product fails in scatter plot between B0 and SZA<br/>
                Changes in 1.1:<br>
                [BEAM-1211] SPOT VGT reader parses product time using a locale timezone<br/>
                [BEAM-1205] SPOT VGT reader down not treat unsigned bands correctly<br/>
                [BEAM-1179] Slightly wrong listing of files in VirtualDir$Zip in beam-spot-vgt-reader<br/>
                Changes in 1.0:<br>
                [BEAM-1144] SPOT-VGT reader to recognise different pixel sampling of P-products<br/>
                [BEAM-1138] SPOT-VGT reader to set physical units and scaling of spectral bands<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>


    <categories>Reader,CHRIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importSpotVgtProduct</id>
            <helpId>importSpotVgtProduct</helpId>
            <formatName>SPOT-VGT</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>M</mnemonic>
            <shortDescr>Import a SPOT VGT data product or product subset.</shortDescr>
            <description>Import a SPOT VGT data product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-core:rgbProfiles">
        <rgbProfile>
            <name>SPOT VGT RGB-1</name>
            <red>MIR</red>
            <green>0.5 * (B2 + B3)</green>
            <blue>B0 + 0.1 * MIR</blue>
        </rgbProfile>
        <rgbProfile>
            <name>SPOT VGT RGB-2</name>
            <red>B3</red>
            <green>0.5 * (B2 + B3)</green>
            <blue>B0 + 0.1 * B3</blue>
        </rgbProfile>
    </extension>

</module>
