<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-rcp</symbolicName>
    <version>2.0.0</version>
    <name>S1TBX Rich Client Platform</name>

    <description>S1TBX Rich Client Platform</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-graph-builder</module>
    </dependency>
    <dependency>
        <module>s1tbx-io</module>
    </dependency>
    <dependency>
        <module>s1tbx-dem</module>
    </dependency>

    <categories>Application,DAT</categories>

    <extension point="ceres-core:applications">
        <application id="S1TBXMain" class="org.esa.nest.dat.S1TBXMain"/>
    </extension>

    <extension point="snap-ui:applicationDescriptors">
        <applicationDescriptor>
            <applicationId>S1TBXMain</applicationId>
            <displayName>SENTINEL-1 TOOLBOX</displayName>

            <version>${s1tbx.version}</version>
            <buildId>${s1tbx.build.id}</buildId>
            <buildDate>${s1tbx.build.date}</buildDate>
            <frameIcons>
                /org/esa/s1tbx/icons/s1_16x.png,
                /org/esa/s1tbx/icons/s1_24x.png,
                /org/esa/s1tbx/icons/s1_32x.png,
                /org/esa/s1tbx/icons/s1_64x.png
            </frameIcons>
            <aboutImage>
                /org/esa/s1tbx/icons/s1tbx-about.png
            </aboutImage>

            <excludedActions>

            </excludedActions>
            <excludedToolViews>
                <!--id>org.esa.beam.visat.toolviews.worldmap.WorldMapToolView</id-->
            </excludedToolViews>
        </applicationDescriptor>
    </extension>


    <extension point="snap-ui:layerSources">
        <layerSource>
            <id>maptools-layer-source</id>
            <name>Mapping Tools</name>
            <description>Shows cartographic tools</description>
            <class>org.esa.nest.dat.layers.maptools.MapToolsLayerSource</class>
        </layerSource>
    </extension>

    <extension point="snap-ui:layerEditors">
        <layerEditor>
            <editor>org.esa.nest.dat.layers.maptools.MapToolsLayerEditor</editor>
            <layerType>org.esa.nest.dat.layers.maptools.MapToolsLayerType</layerType>
        </layerEditor>
    </extension>

    <extension point="snap-ui:toolViews">

        <toolView>
            <id>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</id>
            <class>org.esa.nest.dat.toolviews.Projects.ProjectsToolView</class>
            <title>Project</title>
            <tabTitle>Project</tabTitle>
            <mnemonic>P</mnemonic>
            <accelerator>ctrl alt P</accelerator>
            <smallIcon>/org/esa/s1tbx/icons/project_view22.png</smallIcon>
            <largeIcon>/org/esa/s1tbx/icons/project_view30.png</largeIcon>
            <description>Project View.</description>
            <initState>DOCKED</initState>
            <initSide>WEST</initSide>
            <initIndex>0</initIndex>
        </toolView>

        <toolView>
            <id>org.esa.beam.visat.toolviews.stat.StatisticsToolView</id>
            <class>org.esa.beam.visat.toolviews.stat.StatisticsToolView</class>
            <title>Analysis View</title>
            <tabTitle>Statistics</tabTitle>
            <mnemonic>t</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <description>Display statistics for a selected band.</description>
            <smallIcon>/org/esa/s1tbx/resources/images/icons/Statistics16.gif</smallIcon>
            <largeIcon>/org/esa/s1tbx/resources/images/icons/Statistics24.gif</largeIcon>
            <helpId>statisticsToolView</helpId>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
        </toolView>

    </extension>

    <extension point="snap-ui:actions">

        <action>
            <id>showProcessorsToolBar</id>
            <class>org.esa.beam.visat.actions.ShowToolBarAction</class>
            <context>processorsToolBar</context>
            <parent>toolBars</parent>
            <text>Processor Tool Bar</text>
            <selected>true</selected>
            <toggle>true</toggle>
            <shortDescr>Toggle visibility of the tool bar.</shortDescr>
            <helpId>showViewsToolBar</helpId>
        </action>

        <action>
            <id>showLabelsToolBar</id>
            <class>org.esa.beam.visat.actions.ShowToolBarAction</class>
            <context>labelsToolBar</context>
            <parent>toolBars</parent>
            <text>Labels Tool Bar</text>
            <selected>true</selected>
            <toggle>true</toggle>
            <shortDescr>Toggle visibility of the tool bar.</shortDescr>
            <helpId>showViewsToolBar</helpId>
        </action>

        <action>
            <parent>view</parent>
            <id>showImageViewNestAction</id>
            <class>org.esa.nest.dat.actions.ShowImageViewNestAction</class>
            <placeAfter>showStatusBar</placeAfter>
            <text>Open Image View</text>
            <mnemonic>I</mnemonic>
            <accellerator>control alt I</accellerator>
            <shortDescr>Open image view.</shortDescr>
            <description>Open an image view for the selected band or tie-point grid.</description>
            <context>band,tiePointGrid</context>
            <smallIcon>icons/ImageView16.gif</smallIcon>
            <largeIcon>icons/ImageView24.gif</largeIcon>
            <helpId>imageView</helpId>
        </action>

        <action>
            <id>Projects</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Projects</text>
            <placeBefore>Session</placeBefore>
            <parent>file</parent>
        </action>

        <action>
            <id>newProject</id>
            <class>org.esa.nest.dat.actions.NewProjectAction</class>
            <parent>Projects</parent>
            <placeFirst>true</placeFirst>
            <text>New Project...</text>
            <accelerator>control P</accelerator>
            <shortDescr>Create a new project</shortDescr>
            <description>Create a new project</description>
            <smallIcon>/org/esa/s1tbx/icons/project-new.png</smallIcon>
            <largeIcon>/org/esa/s1tbx/icons/project-new.png</largeIcon>
            <helpId>newProject</helpId>
        </action>

        <action>
            <id>loadProject</id>
            <class>org.esa.nest.dat.actions.LoadProjectAction</class>
            <parent>Projects</parent>
            <text>Load Project...</text>
            <accelerator>control L</accelerator>
            <placeAfter>newProject</placeAfter>
            <shortDescr>Load a project</shortDescr>
            <description>Load a project</description>
            <smallIcon>/org/esa/s1tbx/icons/project_sm.png</smallIcon>
            <largeIcon>/org/esa/s1tbx/icons/project.png</largeIcon>
            <helpId>loadProject</helpId>
        </action>

        <action>
            <id>saveProject</id>
            <class>org.esa.nest.dat.actions.SaveProjectAction</class>
            <parent>Projects</parent>
            <text>Save Project</text>
            <placeAfter>loadProject</placeAfter>
            <shortDescr>Save current project</shortDescr>
            <description>Save current project</description>
            <smallIcon>icons/Save16.gif</smallIcon>
            <largeIcon>icons/Save24.gif</largeIcon>
        </action>

        <action>
            <id>saveProjectAs</id>
            <class>org.esa.nest.dat.actions.SaveProjectAsAction</class>
            <parent>Projects</parent>
            <text>Save Project As...</text>
            <placeAfter>saveProject</placeAfter>
            <shortDescr>Save current project to a new location</shortDescr>
            <description>Save current project to a new location</description>
            <smallIcon>icons/Save16.gif</smallIcon>
            <largeIcon>icons/Save24.gif</largeIcon>
        </action>

        <action>
            <id>closeProject</id>
            <class>org.esa.nest.dat.actions.CloseProjectAction</class>
            <parent>Projects</parent>
            <text>Close Project</text>
            <placeAfter>saveProjectAs</placeAfter>
            <shortDescr>Close current project</shortDescr>
            <description>Close current project</description>
        </action>

        <action>
            <parent>file</parent>
            <id>createSubset</id>
            <class>org.esa.beam.visat.actions.NewAction</class>
            <text>Create Subset</text>
            <shortDescr>Create a new Subset data product.</shortDescr>
            <description>Create a new Subset data product.</description>
            <smallIcon>icons/New16.gif</smallIcon>
            <largeIcon>icons/New24.gif</largeIcon>
            <helpId>new</helpId>
            <context>product</context>
            <placeAfter>showProductLibrary</placeAfter>
        </action>

        <action>
            <id>reopen</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <parent>file</parent>
            <text>Reopen</text>
            <mnemonic>R</mnemonic>
            <placeAfter>createSubset</placeAfter>
            <shortDescr>Re-open a BEAM-DIMAP data product.</shortDescr>
            <longDescr>Re-open a BEAM-DIMAP data product.</longDescr>
            <smallIcon>icons/History16.gif</smallIcon>
            <largeIcon>icons/History24.gif</largeIcon>
            <helpID>reopen</helpID>
        </action>

        <action>
            <id>save</id>
            <class>org.esa.beam.visat.actions.SaveAction</class>
            <parent>file</parent>
            <text>Save</text>
            <mnemonic>S</mnemonic>
            <placeAfter>Session</placeAfter>
            <separatorBefore>true</separatorBefore>
            <shortDescr>Save a BEAM-DIMAP data product.</shortDescr>
            <description>Save a BEAM-DIMAP data product.</description>
            <accelerator>control S</accelerator>
            <smallIcon>icons/Save16.gif</smallIcon>
            <largeIcon>icons/Save24.gif</largeIcon>
            <helpId>save</helpId>
        </action>

        <action>
            <id>saveAs</id>
            <class>org.esa.beam.visat.actions.SaveAsAction</class>
            <parent>file</parent>
            <text>Save As...</text>
            <mnemonic>A</mnemonic>
            <placeAfter>save</placeAfter>
            <separatorAfter>true</separatorAfter>
            <shortDescr>Save a BEAM-DIMAP data product with a different name.</shortDescr>
            <description>Save a BEAM-DIMAP data product with a different name.</description>
            <smallIcon>icons/SaveAs16.gif</smallIcon>
            <largeIcon>icons/SaveAs24.gif</largeIcon>
            <helpId>saveAs</helpId>
            <context>product</context>
        </action>

        <action>
            <id>close</id>
            <class>org.esa.beam.visat.actions.CloseAction</class>
            <parent>file</parent>
            <text>Close</text>
            <mnemonic>C</mnemonic>
            <accelerator>control W</accelerator>
            <placeAfter>saveAs</placeAfter>
            <shortDescr>Close an open data product.</shortDescr>
            <description>Close an open data product.</description>
            <smallIcon>icons/Close16.gif</smallIcon>
            <largeIcon>icons/Close24.gif</largeIcon>
            <helpId>close</helpId>
            <context>product</context>
        </action>

        <action>
            <id>closeAll</id>
            <class>org.esa.beam.visat.actions.CloseAllAction</class>
            <parent>file</parent>
            <text>Close All</text>
            <placeAfter>close</placeAfter>
            <shortDescr>Closes all opened data products.</shortDescr>
            <description>Closes all opened data products.</description>
            <smallIcon>icons/Close16.gif</smallIcon>
            <largeIcon>icons/Close24.gif</largeIcon>
            <helpId>closeAll</helpId>
            <context>product</context>
        </action>

        <action>
            <id>closeAllOthers</id>
            <class>org.esa.nest.dat.actions.CloseAllOthersAction</class>
            <parent>file</parent>
            <text>Close All Others</text>
            <placeAfter>closeAll</placeAfter>
            <shortDescr>Closes all opened data products other than the one selected.</shortDescr>
            <description>Closes all opened data products other than the one selected.</description>
            <smallIcon>icons/Close16.gif</smallIcon>
            <largeIcon>icons/Close24.gif</largeIcon>
            <helpId>closeAll</helpId>
            <context>product</context>
        </action>

        <action>
            <id>loadTabbedLayout</id>
            <class>org.esa.nest.dat.actions.LoadTabbedLayoutAction</class>
            <parent>layoutToolViews</parent>
            <text>Load Tabbed Layout</text>
            <shortDescr>Load the tabbed layout.</shortDescr>
        </action>

        <action>
            <id>loadSideBySideLayout</id>
            <class>org.esa.nest.dat.actions.LoadSideBySideLayoutAction</class>
            <parent>layoutToolViews</parent>
            <text>Load Side by Side Layout</text>
            <shortDescr>Load the layout with Project and Product views side by side.</shortDescr>
        </action>

        <action>
            <id>testConnectivity</id>
            <parent>help</parent>
            <class>org.esa.nest.dat.actions.TestConnectivityAction</class>
            <text>Test Connectivity</text>
            <shortDescr>Test FTP connection for automatic downloads of DEMs</shortDescr>
            <placeAfter>checkForUpdate</placeAfter>
        </action>

        <action>
            <id>aboutDAT</id>
            <parent>help</parent>
            <class>org.esa.beam.visat.actions.AboutAction</class>
            <text>About the Toolbox</text>
            <mnemonic>A</mnemonic>
            <accelerator>ctrl alt A</accelerator>
            <shortDescr>Displays information about this software.</shortDescr>
            <description>Displays information about this software.</description>
            <smallIcon>icons/About16.gif</smallIcon>
            <largeIcon>icons/About24.gif</largeIcon>
            <helpId>about</helpId>
            <placeAfter>RequestFeature</placeAfter>
            <separatorBefore>true</separatorBefore>
        </action>

        <action>
            <id>Wizards</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Wizards</text>
            <parent>help</parent>
            <smallIcon>/org/esa/snap/icons/wizard-16.png</smallIcon>
            <placeAfter>helpTopics</placeAfter>
        </action>

        <action>
            <id>MetadataTools</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Metadata</text>
            <parent>tools</parent>
            <placeAfter>Resampling</placeAfter>
        </action>

        <action>
            <id>editMetadata</id>
            <class>org.esa.nest.dat.actions.EditMetadataAction</class>
            <text>Edit Metadata</text>
            <shortDescr>Edit product metadata</shortDescr>
            <description>Edit product metadata</description>
            <helpId>editMetadata</helpId>
            <parent>MetadataTools</parent>
            <placeBefore>searchMetadata</placeBefore>
            <context>metadataNode</context>
            <largeIcon>/org/esa/snap/icons/metadata_edit.png</largeIcon>
        </action>

        <action>
            <id>searchMetadata</id>
            <class>org.esa.nest.dat.actions.SearchMetadataAction</class>
            <text>Search Metadata Name</text>
            <shortDescr>Search product metadata</shortDescr>
            <description>Search product metadata</description>
            <helpId>searchMetadata</helpId>
            <parent>MetadataTools</parent>
            <context>metadataNode</context>
        </action>

        <action>
            <id>searchMetadataValue</id>
            <class>org.esa.nest.dat.actions.SearchMetadataValueAction</class>
            <text>Search Metadata Value</text>
            <shortDescr>Search product metadata for a value</shortDescr>
            <description>Search product metadata for a value</description>
            <helpId>searchMetadata</helpId>
            <parent>MetadataTools</parent>
            <placeAfter>searchMetadata</placeAfter>
            <context>metadataNode</context>
        </action>

        <action>
            <id>exportProductMetadata</id>
            <class>org.esa.beam.visat.actions.ExportMetadataAction</class>
            <text>Export Metadata as Text</text>
            <shortDescr>Export the currently displayed metadata.</shortDescr>
            <description>Export the currently displayed metadata as tab-separated text.</description>
            <helpId>exportMetadata</helpId>
            <parent>MetadataTools</parent>
        </action>

        <action>
            <id>exportProductMetadataXML</id>
            <class>org.esa.nest.dat.actions.ExportMetadataXMLAction</class>
            <text>Export Metadata as XML</text>
            <shortDescr>Export the currently displayed metadata to XML.</shortDescr>
            <description>Export the currently displayed metadata as XML.</description>
            <helpId>exportMetadata</helpId>
            <parent>MetadataTools</parent>
        </action>

        <action>
            <id>selectLayerTool</id>
            <class>org.esa.beam.visat.actions.ToolAction</class>
            <interactor>org.esa.nest.dat.layers.SelectLayerInteractor</interactor>
            <interactorListener>org.esa.beam.visat.actions.SelectionInteractorInterceptor</interactorListener>
            <parent>tools</parent>
            <text>Select</text>
            <shortDescr>Select Layer Tool</shortDescr>
            <largeIcon>icons/SelectTool24.gif</largeIcon>
            <selected>false</selected>
            <helpId>selectTool</helpId>
        </action>

        <action>
            <id>showLayersToolBar</id>
            <class>org.esa.beam.visat.actions.ShowToolBarAction</class>
            <context>layersToolBar</context>
            <parent>toolBars</parent>
            <text>Layers Tool Bar</text>
            <mnemonic>L</mnemonic>
            <placeAfter>showAnalysisToolBar</placeAfter>
            <placeBefore>showToolsToolBar</placeBefore>
            <selected>false</selected>
            <toggle>true</toggle>
            <shortDescr>Toggle visibility of the layers tool bar.</shortDescr>
            <description>Toggle visibility of the layers tool bar.</description>
            <helpId>showLayersToolBar</helpId>
        </action>

        <action>
            <id>showImageViewHSV</id>
            <class>org.esa.nest.dat.actions.ShowImageViewHSVAction</class>
            <parent>view</parent>
            <placeAfter>showImageViewRGB</placeAfter>
            <text>Open HSV Image View...</text>
            <mnemonic>H</mnemonic>
            <shortDescr>Open HSV image view.</shortDescr>
            <description>Open an HSV image view for the selected product.</description>
            <context>product</context>
            <smallIcon>icons/ImageView16.gif</smallIcon>
            <largeIcon>icons/ImageView24.gif</largeIcon>
            <helpId>hsvImageProfile</helpId>
        </action>

        <action>
            <id>showPolarWaveView</id>
            <class>org.esa.nest.dat.actions.ShowCrossSpectraViewAction</class>
            <text>Open Polar Wave View</text>
            <shortDescr>Open Polar Wave View</shortDescr>
            <parent>view</parent>
            <context>band</context>
            <helpId>showPolarWaveView</helpId>
        </action>

        <action>
            <parent>exportOther</parent>
            <id>exportKmzProduct</id>
            <class>org.esa.nest.dat.actions.ExportKmzProductAction</class>
            <text>Export Product as Google Earth KMZ...</text>
            <shortDescr>Export the product as Google Earth KMZ file.</shortDescr>
            <description>Export the product as Google Earth KMZ file.</description>
            <helpId>exportKmzFile</helpId>
            <placeAfter>exportKmzFile</placeAfter>
        </action>

        <action>
            <parent>tools</parent>
            <id>createSubsetFromView2</id>
            <placeAfter>mosaicAction</placeAfter>
            <text>Spatial Subset from View...</text>
            <class>org.esa.beam.visat.actions.CreateSubsetFromViewAction</class>
            <shortDescr>Creates a product subset from the selected view.</shortDescr>
            <context>image</context>
            <helpId>subsetFromView</helpId>
        </action>

        <action>
            <parent>tools</parent>
            <id>flipping2</id>
            <placeAfter>createSubsetFromView</placeAfter>
            <text>Flipping...</text>
            <class>org.esa.beam.visat.actions.FlippingAction</class>
            <shortDescr>Apply Data Flip</shortDescr>
            <helpId>flipDialog</helpId>
        </action>

        <!--action>
            <id>Reports</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Reports</text>
            <parent>data</parent>
            <context>image</context>
            <placeBefore>Information</placeBefore>
        </action>

        <action>
            <id>SummaryReport</id>
            <class>org.esa.nest.dat.actions.reports.ShowSummaryReport</class>
            <text>Summary Report</text>
            <shortDescr>A summary of the product</shortDescr>
            <parent>Reports</parent>
            <helpId>Reports</helpId>
        </action>

        <action>
            <id>MetadataReport</id>
            <class>org.esa.nest.dat.actions.reports.ShowMetadataReport</class>
            <text>Metadata Report</text>
            <shortDescr>A listing of the product metadata</shortDescr>
            <parent>Reports</parent>
            <helpId>Reports</helpId>
        </action-->

        <action>
            <id>importGenericBinary</id>
            <class>org.esa.nest.dat.actions.GenericReaderAction</class>
            <text>Generic Binary</text>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import Generic Binary</shortDescr>
            <helpId>importGenericBinary</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>importComplexGenericBinary</id>
            <class>org.esa.nest.dat.actions.GenericComplexReaderAction</class>
            <text>Complex Binary</text>
            <formatName>Complex Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import Complex Generic Binary</shortDescr>
            <helpId>importComplexGenericBinary</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>exportGenericBinary</id>
            <text>Generic Binary</text>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>Generic Binary</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export Generic Binary</shortDescr>
            <helpId>exportGenericBinary</helpId>
        </action>

        <action>
            <id>createElevationAction</id>
            <class>org.esa.nest.dat.actions.CreateElevationAction</class>
            <text>Add Elevation Band</text>
            <shortDescr>Creates an elevation band from a selected DEM</shortDescr>
            <description>Creates an elevation band from a selected Digital Elevation Model (DEM)</description>
            <context>product</context>
            <helpId>createElevationBand</helpId>
            <parent>DEMTools</parent>
        </action>



        <!-- SAR Formats -->

        <action>
            <id>importERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>ERS 1 / 2 CEOS</text>
            <shortDescr>Open ERS 1/2 CEOS (VMP and PGS) data product or subset.</shortDescr>
            <description>Open ERS 1/2 CEOS (VMP and PGS) data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importERSProduct</helpId>
            <parent>importSAR</parent>
            <placeAfter>importErsSARProduct</placeAfter>
        </action>
        <action>
            <id>importJERSCEOSProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>JERS CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a JERS CEOS data product or subset.</shortDescr>
            <description>Import a JERS CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importJERSProduct</helpId>
            <parent>importSAR</parent>
            <placeAfter>importERSCEOSProduct</placeAfter>
        </action>
        <action>
            <id>importAlosPalsarProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ALOS PALSAR CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ALOS PALSAR CEOS data product or subset.</shortDescr>
            <description>Import an ALOS PALSAR CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importAlosPalsarProduct</helpId>
            <parent>importSAR</parent>
            <placeAfter>importJERSCEOSProduct</placeAfter>
        </action>
        <action>
            <id>importAlos2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>ALOS 2 CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ALOS 2 CEOS data product or subset.</shortDescr>
            <description>Import an ALOS 2 CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importAlos2Product</helpId>
            <parent>importSAR</parent>
            <placeAfter>importAlosPalsarProduct</placeAfter>
        </action>
        <action>
            <id>importRadarsatProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>RADARSAT-1 CEOS</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a RADARSAT-1 CEOS data product or subset.</shortDescr>
            <description>Import a RADARSAT-1 CEOS data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importRadarsatProduct</helpId>
            <parent>importSAR</parent>
            <placeAfter>importAlos2Product</placeAfter>
        </action>

        <action>
            <id>importPolsarPro</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.polsarpro.PolsarProProductReaderPlugIn</readerPlugin>
            <formatName>PolSARPro</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <useFilesAndFolders>true</useFilesAndFolders>
            <shortDescr>Import a PolsarPro data product.</shortDescr>
            <parent>importSAR</parent>
            <placeAfter>importCosmoSkymed</placeAfter>
            <helpId>importPolsarPro</helpId>
        </action>

        <action>
            <id>importRadarsat2Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>RADARSAT-2</formatName>
            <shortDescr>Import a RADARSAT-2 data product or subset.</shortDescr>
            <description>Import a RADARSAT-2 data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <parent>importSAR</parent>
            <placeAfter>importRadarsatProduct</placeAfter>
            <helpId>importRadarsat2</helpId>
        </action>
        <action>
            <id>importTerraSarXProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>TerraSarX</formatName>
            <text>TerraSAR-X</text>
            <shortDescr>Import a TerraSarX data product or subset.</shortDescr>
            <description>Import a TerraSarX data product or subset.</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <parent>importSAR</parent>
            <placeAfter>importRadarsat2Product</placeAfter>
            <helpId>importTerraSarX</helpId>
        </action>

        <action>
            <id>importCosmoSkymed</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>CosmoSkymed</formatName>
            <text>Cosmo-Skymed</text>
            <readerPlugin>org.esa.nest.dataio.cosmo.CosmoSkymedReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a CosmoSkymed file format</shortDescr>
            <description>Import a CosmoSkymed file format</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <parent>importSAR</parent>
            <placeAfter>importTerraSarXProduct</placeAfter>
            <helpId>importCosmoSkymed</helpId>
        </action>

        <action>
            <id>importS1Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>SENTINEL-1</formatName>
            <shortDescr>Import a SENTINEL-1 product</shortDescr>
            <description>Import a SENTINEL-1 product</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importS1Product</helpId>
            <parent>importSAR</parent>
        </action>

        <!-- Common EO File Formats -->

        <action>
            <id>importImageIO</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>jp2</formatName>
            <text>ImageIO (bmp, jpg, png)</text>
            <readerPlugin>org.esa.nest.dataio.imageio.ImageIOReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import an ImageIO supported file formats</shortDescr>
            <description>Import an ImageIO supported file formats</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importImageIO</helpId>
            <parent>importFileFormats</parent>
        </action>
        <action>
            <id>importGeoTIFFProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.geotiff.NestGeoTiffProductReaderPlugIn</readerPlugin>
            <formatName>GeoTIFF</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <mnemonic>O</mnemonic>
            <shortDescr>Import a GeoTIFF data product or subset.</shortDescr>
            <description>Import a GeoTIFF data product or product subset.</description>
            <helpId>importGeoTIFFProduct</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>importRAT</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <readerPlugin>org.esa.nest.dataio.TAXI.RATProductReaderPlugIn</readerPlugin>
            <formatName>RAT</formatName>
            <shortDescr>Import DLR RAT data product or subset.</shortDescr>
            <description>Import DLR RAT data product or product subset.</description>
            <helpId>importRAT</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>importGTOPO30</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>GTOPO30</formatName>
            <parent>importDEM</parent>
            <readerPlugin>org.esa.nest.dataio.gtopo30.GTOPO30ReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <text>GTOPO30 DEM Tile</text>
            <shortDescr>Import a GTOPO30 tile</shortDescr>
            <description>Import a GTOPO30 tile</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <helpId>importGTOPO30</helpId>
        </action>

        <!-- Exports -->

        <action>
            <id>exportPolsarPro</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>PolSARPro</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export PolSARPro</shortDescr>
            <helpId>exportPolsarPro</helpId>
        </action>
        <action>
            <id>exportGeoTiffXML</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>GeoTIFF+XML</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export GeoTIFF+XML</shortDescr>
            <helpId>exportGeoTiffXML</helpId>
        </action>
        <action>
            <id>exportBTF</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>BTF</formatName>
            <text>BigTIFF</text>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Export BigTIFF</shortDescr>
            <helpId>exportGeoTiff</helpId>
        </action>


        <!--action>
            <id>importNetCDF</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>NetCDF</formatName>
            <readerPlugin>org.esa.nest.dataio.netcdf.NetCDFReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a NetCDF file or file subset.</shortDescr>
            <description>Import a NetCDF file or file subset.</description>
            <helpId>importNetCDF</helpId>
            <parent>importFileFormats</parent>
        </action>

        <action>
            <id>exportNetCDF</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <formatName>NetCDF</formatName>
            <shortDescr>Export product to NetCDF format.</shortDescr>
            <description>Export the selected product to NetCDF format.</description>
            <helpId>exportNetCDF</helpId>
        </action>

		<action>
            <id>importHDF</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>HDF</formatName>
            <readerPlugin>org.esa.nest.dataio.hdf.HDFReaderPlugIn</readerPlugin>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a HDF file format</shortDescr>
            <description>Import a HDF file format</description>
            <largeIcon>icons/Import24.gif</largeIcon>
            <placeAfter>importNetCDF</placeAfter>
            <helpId>importHDF</helpId>
            <parent>importFileFormats</parent>
        </action-->

            <action>
                <id>importBigGeoTIFFProduct</id>
                <class>org.esa.beam.visat.actions.ProductImportAction</class>
                <formatName>GeoTIFF-BigTIFF</formatName>
                <useAllFileFilter>true</useAllFileFilter>
                <mnemonic>O</mnemonic>
                <shortDescr>Import a GeoTIFF/BigGeoTIFF data product or product subset.</shortDescr>
                <parent>importFileFormats</parent>
                <!--<helpId>importBigGeoTIFFProduct</helpId>-->
            </action>
            <action>
                <id>exportBigGeoTIFFProduct</id>
                <class>org.esa.beam.visat.actions.ProductExportAction</class>
                <formatName>GeoTIFF-BigTIFF</formatName>
                <useAllFileFilter>true</useAllFileFilter>
                <mnemonic>O</mnemonic>
                <shortDescr>Export a BigGeoTiff/GeoTIFF data product or product subset.</shortDescr>
                <!--<helpId>exportBigGeoTIFFProduct</helpId>-->
            </action>

        <action>
            <id>importCsvProduct</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>CSV</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <largeIcon>icons/Import24.gif</largeIcon>
            <shortDescr>Import a CSV data product.</shortDescr>
            <helpId>importCsvProduct</helpId>
            <parent>importFileFormats</parent>
        </action>
        <action>
            <id>exportCsvProduct</id>
            <class>org.esa.beam.visat.actions.ProductExportAction</class>
            <text>CSV</text>
            <formatName>CSV</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Writes a product in CSV format</shortDescr>
            <helpId>exportCsvProduct</helpId>
        </action>

    </extension>


    <extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>DATHelp</id>
            <path>doc/help/dat.hs</path>
        </helpSet>
    </extension>

</module>
