<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-op-sentinel1</symbolicName>
    <version>2.0.0</version>
    <name>S1TBX Sentinel-1 Tools</name>

    <description>Tools for Sentinel-1 products</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>s1tbx-op-insar</module>
    </dependency>

    <categories>Processor</categories>

</module>