<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>s1tbx-op-sentinel1</symbolicName>
    <version>1.0.4</version>
    <name>S1TBX Sentinel-1 Tools</name>

    <description>Tools for Sentinel-1 products</description>

    <vendor>Array Systems Computing Inc</vendor>
    <contactAddress>1120 Finch Ave W. Toronto (Canada)</contactAddress>
    <copyright>(C) 2014 by Array Systems Computing Inc</copyright>
    <url>http://www.array.ca</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>European Space Agency</funding>

    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-engine-utilities</module>
    </dependency>
    <dependency>
        <module>snap-graph-builder</module>
    </dependency>
    <dependency>
        <module>s1tbx-op-coregistration</module>
    </dependency>

    <categories>Processor</categories>

    <extension point="snap-graph-builder:OperatorUIs">

        <OperatorUI>
            <id>org.esa.nest.gpf.TOPSARDeburstOpUI</id>
            <class>org.esa.nest.gpf.TOPSARDeburstOpUI</class>
            <operatorName>TOPSAR-Deburst</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.SliceAssemblyOpUI</id>
            <class>org.esa.nest.gpf.SliceAssemblyOpUI</class>
            <operatorName>SliceAssembly</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.TOPSARSplitOpUI</id>
            <class>org.esa.nest.gpf.TOPSARSplitOpUI</class>
            <operatorName>TOPSAR-Split</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.BackGeocodingOpUI</id>
            <class>org.esa.nest.gpf.BackGeocodingOpUI</class>
            <operatorName>Back-Geocoding</operatorName>
        </OperatorUI>
        <OperatorUI>
            <id>org.esa.nest.gpf.ConstantOffsetEstimationOpUI</id>
            <class>org.esa.nest.gpf.ConstantOffsetEstimationOpUI</class>
            <operatorName>Constant-Offset-Estimation</operatorName>
        </OperatorUI>

    </extension>

    <extension point="snap-ui:actions">

        <action>
            <id>Sentinel1</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>SENTINEL-1</text>
            <parent>Sar Processing</parent>
            <placeAfter>ASARWSS</placeAfter>
        </action>

        <action>
            <id>TOPSARDeburstOp</id>
            <helpId>TOPSARDeburstOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Sentinel-1 TOPSAR Deburst</text>
            <operatorName>TOPSAR-Deburst</operatorName>
            <dialogTitle>Sentinel1 TOPSAR Deburst operator</dialogTitle>
            <shortDescr>Deburst a Sentinel1 TOPSAR product</shortDescr>
            <targetProductNameSuffix>_Deburst</targetProductNameSuffix>
        </action>

        <action>
            <id>TOPSARSplitOp</id>
            <helpId>TOPSARSplitOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Sentinel-1 TOPSAR Split</text>
            <operatorName>TOPSAR-Split</operatorName>
            <dialogTitle>Sentinel1 TOPSAR split operator</dialogTitle>
            <shortDescr>Split a Sentinel1 TOPSAR product</shortDescr>
            <targetProductNameSuffix>_split</targetProductNameSuffix>
        </action>

        <action>
            <id>Sentinel1SLCtoGRD</id>
            <helpId>Sentinel1SLCtoGRD</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Sentinel-1 SLC to GRD</text>
            <shortDescr>Convert a Sentinel1 SLC product to a detected ground range product</shortDescr>
            <dialogTitle>Sentinel1 SLC to GRD</dialogTitle>
            <graphFile>Sentinel1SLCtoGRDGraph.xml</graphFile>
        </action>

        <action>
            <id>SliceAssemblyOp</id>
            <helpId>SliceAssemblyOp</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Sentinel-1 Slice Assembly</text>
            <shortDescr>Merge slice products together</shortDescr>
            <dialogTitle>Slice Assembly</dialogTitle>
            <graphFile>Sentinel1SliceAssemblyGraph.xml</graphFile>
        </action>

        <action>
            <id>BackGeocodingOp</id>
            <helpId>BackGeocodingOp</helpId>
            <class>org.esa.snap.dat.actions.GraphAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Back Geocoding</text>
            <dialogTitle>Back Geocoding</dialogTitle>
            <shortDescr>Back Geocoding</shortDescr>
            <graphFile>BackGeocodingGraph.xml</graphFile>
        </action>

        <action>
            <id>ApplyS1OrbitFileOp</id>
            <helpId>ApplyS1OrbitFileOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Apply S1 Orbit File</text>
            <operatorName>Apply-S1-Orbit-File</operatorName>
            <dialogTitle>Apply S1 Orbit File</dialogTitle>
            <shortDescr>Apply S1 Orbit File</shortDescr>
            <targetProductNameSuffix>_orb</targetProductNameSuffix>
        </action>

        <action>
            <id>ConstantOffsetEstimationOp</id>
            <helpId>ConstantOffsetEstimationOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Constant Offset Estimation</text>
            <operatorName>Constant-Offset-Estimation</operatorName>
            <dialogTitle>Constant Offset Estimation</dialogTitle>
            <shortDescr>Constant Offset Estimation</shortDescr>
            <targetProductNameSuffix>_of</targetProductNameSuffix>
        </action>

        <action>
            <id>ComputeDerampDemodPhaseOp</id>
            <helpId>ComputeDerampDemodPhaseOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Compute Deramp Demodulation Phase</text>
            <operatorName>Compute-Deramp-Demod-Phase</operatorName>
            <dialogTitle>Compute Deramp Demodulation Phase</dialogTitle>
            <shortDescr>Compute Deramp Demodulation Phase</shortDescr>
            <targetProductNameSuffix>_ddp</targetProductNameSuffix>
        </action>

        <action>
            <id>CreateCoherenceImageOp</id>
            <helpId>CreateCoherenceImageOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Create Coherence Image</text>
            <operatorName>Create-Coherence-Image</operatorName>
            <dialogTitle>Create Coherence Image</dialogTitle>
            <shortDescr>Create Coherence Image</shortDescr>
            <targetProductNameSuffix>_coh</targetProductNameSuffix>
        </action>

        <action>
            <id>CreateInterferogramOp</id>
            <helpId>CreateCoherenceImageOp</helpId>
            <class>org.esa.snap.dat.actions.OperatorAction</class>
            <icon>esaIcon</icon>
            <parent>Sentinel1</parent>
            <text>Create Interferogram</text>
            <operatorName>Create-Interferogram</operatorName>
            <dialogTitle>Create Interferogram</dialogTitle>
            <shortDescr>Create Interferogram</shortDescr>
            <targetProductNameSuffix>_coh</targetProductNameSuffix>
        </action>


    </extension>

	<extension point="snap-ui:helpSets">
        <helpSet>
            <parent>snap-help</parent>
            <id>s1tbx-op-sentinel1-help</id>
            <path>doc/help/s1tbx-op-sentinel1.hs</path>
        </helpSet>
    </extension>
</module>